<h1>-------------Komponenta Admin (začátek)-------------</h1>

<h2>Správa sekcí</h2>
<p><a n:href="addPage!" class="ajax">Přidat novou sekci</a></p>

{snippet pageFormSnippet}

    {if $actionType === 1}
        <h3>Přidat stránku</h3>
    {elseif $actionType === 2}
        <h3>Upravit stránku</h3>
    {/if}

        {control pageForm}
{/snippet}


{snippet pagesWrapper}
    <h3>Výpis stránek</h3>
    <ul class="sortable-menu">
    {foreach $pages as $page}
        <li data-page-id={$page->id_pages} n:class="$page->homepage ? hp-section">
            <strong>{$page['menu_title']}</strong>
            <span>(
            <a n:href="updatePage! $page->id_pages" class="ajax">Upravit</a> |
        {if $page->homepage == 1}
            <i>Smazat (nelze smazat hlavní stránku - zvolte nejprve jinou hlavní stránku) --- udělat jako vyskakovací okno?</i>
        {else}
            <a n:href="deletePage! $page->id_pages" class="ajax">Smazat</a>
        {/if}
            )</span>
        </li>
    {/foreach}
    </ul>

    <script type="text/javascript">
        $(function () {
            $('.sortable-menu')
                .sortable({
                    update: function (event, ui) {
                        var pageId = ui.item.data('page-id');
                        var sort = ui.item.index() + 1;
                        var data = {};
                        data[{$control->getUniqueId('sort')} + "-idPage"] = pageId;
                        data[{$control->getUniqueId('sort')} + "-sort"] = sort;

                        $.nette.ajax({
                            type: "get",
                            url: {link sort},
                            data: data
                        });
                    },
                    cancel: 'span',
                    items: 'li:not(.hp-section)',
                    revert: true,
                    cursor: 'move',
                    placeholder: 'ui-state-highlight'
                });
        });
    </script>

{/snippet}


<h2>Správa uživatelů</h2>
{snippet addUserForm}
    {control addUserForm}
{/snippet}

<h3>Výpis uživatelů</h3>
{snippet usersList}
    {if !empty($users)}
        {foreach $users as $usr}
        <p>{$usr->username}
        (
        <a n:href="updateUser! $usr->id_users" class="ajax">Upravit údaje</a> |
        <a n:href="updatePassword! $usr->id_users" class="ajax">Upravit heslo</a> |
        <a n:href="switchBlockingUser! $usr->id_users" class="ajax">{$usr->blocked ? Odblokovat : Blokovat}</a>
        )
        </p>
        {/foreach}
    {else}
    V systému zatím nebyl zaregistrován žádný uživatel.
    {/if}
{/snippet}


{snippet updateUserForm}
    {ifset $username}
        {$username}
        {control updateUserForm}
    {/ifset}
{/snippet}

{snippet updatePasswordForm}
    {ifset $username}
        {$username}
        {control updatePasswordForm}
    {/ifset}
{/snippet}

<h1>-------------Komponenta Admin (konec)-------------</h1>

    
