{block comment}

    {snippet commentsList}
        {if !empty($comments)}
            {foreach $comments as $comment}

                {ifset $reply}{continueIf $idComments != $comment->nesting_in_id_comments}{/ifset}

                <div n:class="$comment->reply_on_id_comments ? reply, comment" id="{$comment->id_comments}">

                    {var $username = $comment->author ? $comment->author : $comment->users_name}

                    <div class="name">
                        {$username}
                        {if $comment->author_is_admin}<span title="Tento uživatel je administrátorem webu.">A</span>{/if}
                    </div>
                    <abbr title="Komentář vložen: {$comment->date|date:'j. n. Y v G:i'}">{$comment->date|ago}</abbr>

                    {if $user->isAllowed($presenter->name,'admin')}
                        <div class="admin-actions">
                            <a n:href="Delete! $comment->id_comments" class="ajax delete" data-confirm="Opravdu chcete odstranit příspěvek uživatele {$username}?">Smazat</a>
                            <a n:href="SwitchHiding! $comment->id_comments" n:class="$comment->hidden ? unhide : hide, ajax">
                                {$comment->hidden ? 'Zobrazit' : 'Skrýt'}
                            </a>
                        </div>
                    {/if}

                    {ifset $reply}
                        {var $username = $comment->commented_author ? $comment->commented_author : $comment->commented_users_name}
                    {/ifset}

                    {if !$comment->hidden}
                        <p class="text">
                            {ifset $reply}
                                <a href="#{$comment->reply_on_id_comments}" class="commented-user">
                                    @{$username}
                                </a>
                            {/ifset}
                            {$comment->text|breaklines}
                        </p>
                    {else}
                        <p class="text hidden">
                            Tento komentář byl administrátorem označen jako nevhodný.
                            <a href="#" onclick="switchHiddenComment(event, {$comment->id_comments})">Zobrazit</a>
                        </p>
                        <p class="text nonactive" id="comment-text-{$comment->id_comments}">
                            {ifset $reply}
                                <a href="#{$comment->reply_on_id_comments}" class="commented-user">
                                    @{$username}
                                </a>
                            {/ifset}
                            {$comment->text|breaklines}
                        </p>
                    {/if}

                    <div n:snippet="comment-$comment->id_comments" class="rating">

                        {$comment->likes}
                        <a n:href="Like! $comment->id_comments" n:class="isset($sessionSection->likes[$comment->id_comments]) ? active, ajax, uprate">
                            {*{isset($sessionSection->likes[$comment->id_comments]) ? 'UNlike' : 'like'}*}
                        </a>

                        /

                        {$comment->dislikes}
                        <a n:href="Dislike! $comment->id_comments" n:class="isset($sessionSection->dislikes[$comment->id_comments]) ? active, ajax, downrate">
                            {*{isset($sessionSection->dislikes[$comment->id_comments]) ? 'UNdislike' : 'dislike'}*}
                        </a>

                    </div>

                    {ifset $reply}
                        <a class="answer" onclick="moveFormTo({$comment->id_comments},{$idComments})">reagovat</a>
                    {else}
                        <a class="answer" onclick="moveFormTo({$comment->id_comments},{$comment->id_comments})">reagovat</a>
                    {/ifset}

                </div>

                {* druha uroven komentaru (reakce na komentare) *}
                {if !isset($reply)}
                    {include 'comment.latte', reply => true, comments => $commentsReplies, idComments => $comment->id_comments}
                {/if}

            {/foreach}
        {/if}
    {/snippet}

{/block}