

{*{snippet flash}*}
{*<div n:foreach="$flashes as $flash" n:class="flash, $flash->type">{$flash->message}</div>*}
{*{/snippet}*}


{snippet commentsWrapper}

    <div class="comments-header">
        {var $sum = count($comments) + count($commentsReplies)}

        <h3 n:class="$sum <= 1 ? no-sort">
            {if $sum === 0}
                Komentáře
            {elseif $sum === 1}
                {$sum} komentář
            {elseif $sum >= 2 && $sum <= 4}
                {$sum} komentáře
            {elseif $sum > 4}
                {$sum} komentářů
            {/if}
        </h3>

        {if $sum >= 2}
            <div class="comments-sort">
                <a n:href="Order! commentsOrder => 0" n:class="$sessionSection['commentsOrder'] !== 1 ? active, ajax">Nejnovější</a>
                <a n:href="Order! commentsOrder => 1" n:class="$sessionSection['commentsOrder'] === 1 ? active, ajax">Nejlépe hodnocené</a>
            </div>
        {/if}
    </div>

    {* zachytny bod pro presouvany formular *}
    <div id="comments-top"></div>

    <div id="commentForm">
        {*{control commentForm}*}

        {form commentForm}
            {input text}
            {if !$user->isLoggedIn()}
                {input author}
            {/if}
            {input submit}
        {/form}

        <div id="cancel" title="Zrušit psaní reakce" onclick="cancelReply()">&times;</div>
	</div>


    {if empty($comments)}
        <div class="empty">
            Doposud nebyl vložen žádný komentář.
        </div>
    {/if}

    {snippetArea commentsArea}
        {include 'comment.latte'}
    {/snippetArea}
{/snippet}
