

<h1>Nejbližší koncerty</h1>

{snippet concertsWrapper} {* umoznuje prekresleni v pripade pridani a smazani concertu *}

    {if $presenter->getView() == 'admin'}
        <a n:href="add!" class="ajax add" id="add-concert" onclick="moveAdminPanel(event, [true,null])">Přidat nový koncert</a>

        {snippet concertFormSnippet} {* prekresluje formular *}
            <div n:class="$displayConcertForm ? active, admin-panel, movable">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                {if isset($idConcerts)}
                    <h2>Upravit koncert</h2>
                {else}
                    <h2>Přidat koncert</h2>
                {/if}
                {control concertForm}

            </div>
        {/snippet}
    {/if}   


    {snippet futureConcertsList} {* umoznuje prekreslit upraveny concert *}
        {if !empty($futureConcerts)}
            {foreach $futureConcerts as $concert}

                {if isset($year) && $year !== ($concert->date|date:'Y')}
                    <div class="year-heading">{$concert->date|date:'Y'}</div>
                {/if}
                {var $year = ($concert->date|date:'Y')}

                <div class="event" n:snippet="concert-$concert->id_concerts">{* dynamicky snippet - prekresluje se v pripade upravy daneho concertu *}
                    <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" class="date-wrapper" title="{$concert->date|date:'j. n. Y'}">
                        <div class="date">{$concert->date|date:'j'}<span>{$concert->date|date:'M'|month}</span></div>
                    </a>

                    <div class="inner-wrapper">
                        <div class="title-wrapper">
                            <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" title="{$concert->title}" class="title">{$concert->title}</a>
                        </div>
                        <span class="time">{$concert->date|date:'H:i'}</span>
                        <span class="place">{$concert->place}</span>
                        {if $concert->ticket_url}
                            <span class="ticket-url">
                                {if substr($concert->ticket_url, 0, 4) === 'http'}
                                    <a href="{$concert->ticket_url}" target="_blank">
                                        Vstupenky
                                    </a>
                                {else}
                                    {$concert->ticket_url|firstUpper}
                                {/if}
                            </span>
                        {/if}
                        <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" title="{$concert->title}" class="title">
                            <span class="ellipsis">...</span>
                        </a>
                    </div>

                    {if $presenter->getView() == 'admin'}
                    <div class="admin-actions">
                        <a n:href="update! $concert->id_concerts" class="ajax update" onclick="moveAdminPanel(event, [false,null])">Upravit</a>
                        <a n:href="delete! $concert->id_concerts" class="ajax delete" data-confirm="Opravdu chcete odstranit koncert '{$concert->title}'?">Smazat</a>
                    </div>
                    {/if}
                </div>

            {/foreach}
        {else}
            <p class="empty">V tuto chvíli nemáme naplánovány žádné koncerty.</p>
        {/if}

    {/snippet}

    {if !empty($pastConcerts)}
        <h1>Minulé koncerty</h1>
    {/if}

    <div n:snippet="concertsContainer" data-ajax-append="true"> {* umoznuje nacitat dalsi concerty *}

        {snippet pastConcertsList} {* umoznuje prekreslit upraveny concert *}
            {foreach $pastConcerts as $concert}

                {if isset($year) && $year !== ($concert->date|date:'Y')}
                    <div class="year-heading">{$concert->date|date:'Y'}</div>
                {/if}
                {var $year = ($concert->date|date:'Y')}

                <div class="event" n:snippet="concert-$concert->id_concerts">{* dynamicky snippet - prekresluje se v pripade upravy daneho concertu *}
                    <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" class="date-wrapper" title="{$concert->date|date:'j. n. Y'}">
                        <div class="date">{$concert->date|date:'j'}<span>{$concert->date|date:'M'|month}</span></div>
                    </a>

                    <div class="inner-wrapper">
                        <div class="title-wrapper">
                            <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" title="{$concert->title}" class="title">{$concert->title}</a>
                        </div>
                        <span class="time">{$concert->date|date:'H:i'}</span>
                        <span class="place">{$concert->place}</span>
                        <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" title="{$concert->title}" class="title">
                            <span class="ellipsis">...</span>
                        </a>
                    </div>

                    {if $presenter->getView() == 'admin'}
                    <div class="admin-actions">
                        <a n:href="update! $concert->id_concerts" class="ajax update" onclick="moveAdminPanel(event, [false,null])">Upravit</a>
                        <a n:href="delete! $concert->id_concerts" class="ajax delete" data-confirm="Opravdu chcete odstranit koncert '{$concert->title}'?">Smazat</a>
                    </div>
                    {/if}
                </div>

            {/foreach}

        {/snippet}

    </div>
    {control paginator}   

{/snippet}

