
{control map}

{snippet contactsWrapper} {* umoznuje prekresleni v pripade pridani a smazani kontaktu *}

    {if $presenter->getView() == 'admin'}
        <a n:href="add!" class="ajax add" id="add-contact" onclick="moveAdminPanel(event, [true,null])">Přidat nový kontakt</a>

        {snippet contactFormSnippet} {* prekresluje formular *}
            <div n:class="$displayContactForm ? active, admin-panel, movable">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                {if isset($idContacts)}
                    <h2>Upravit kontakt</h2>
                {else}
                    <h2>Přidat kontakt</h2>
                {/if}
                {control contactForm}
            </div>
        {/snippet}
    {/if}

    <ul n:class="$presenter->getView() == 'admin' ? sortable-contacts, contacts" n:snippet="contactsList">
        {foreach $contacts as $contact}

            <li class="contact" n:snippet="contact-$contact->id_contacts" data-musician-id={$contact->id_contacts}>
                <div class="img-wrapper">
                    <img src="{$basePath}/web_images/portrait_def.jpg">
                </div>
                <div class="name">{$contact->name}</div>
                <div class="instrument">{$contact->function}</div>
                <div class="instrument">{$contact->mail}</div>
                <div class="instrument">{$contact->phone}</div>
                {if $presenter->getView() == 'admin'}
                <div class="admin-actions small">
                    <a n:href="update! $contact->id_contacts" class="ajax update" onclick="moveAdminPanel(event, [true,null,true])">Upravit</a>
                    <a n:href="delete! $contact->id_contacts" class="ajax delete" data-confirm="Opravdu chcete odstranit kontakt '{$contact->name}'?">Smazat</a>
                </div>
                {/if}
            </li>

        {/foreach}

        <script type="text/javascript">
            $(function () {
                $('.sortable-contacts')
                    .sortable({
                        update: function (event, ui) {
                            var contactId = ui.item.data('musician-id');
                            var sort = ui.item.index();
                            var data = {};
                            data[{$control->getUniqueId('sort')} + "-idContacts"] = contactId;
                            data[{$control->getUniqueId('sort')} + "-sort"] = sort;

                            $.nette.ajax({
                                type: "get",
                                url: {link sort},
                                data: data
                            });
                        },

                        cancel: '.name',
                        tolerance: 'pointer',
                        cursor: 'move',
                        forcePlaceholderSize: true,
                        placeholder: 'contact-placeholder',

                        // http://stackoverflow.com/questions/1735372/jquery-sortable-list-scroll-bar-jumps-up-when-sorting
                        create: function(){
                            $(this).height($(this).height());
                        }
                    });
            });
        </script>

    </ul>

{/snippet}