
<div class="events">
    <div class="events-wrapper">

        {if $pageType === 'en'}
            <h1>Upcoming concerts</h1>
        {else}
            <h1>Naše nejbližší koncerty</h1>
        {/if}

        {if !empty($concerts)}
            {foreach $concerts as $concert}

                <div class="event">
                {if $pageType === 'en'}
                    <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug, lang => en}" class="date-wrapper" title="{$concert->date|date:'j. n. Y'}">
                {else}
                    <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" class="date-wrapper" title="{$concert->date|date:'j. n. Y'}">
                {/if}
                        <div class="date">
                            {$concert->date|date:'j'}
                            <span>
                                {if $pageType === 'en'}
                                    {$concert->date|date:'M'}
                                {else}
                                    {$concert->date|date:'M'|month}
                                {/if}
                            </span>
                        </div>
                    </a>

                    <div class="inner-wrapper">
                        <div class="title-wrapper">
                            {if $pageType === 'en'}
                            <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug, lang => en}" title="{$concert->title_en}" class="title">
                                {$concert->title_en}
                            {else}
                            <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}" title="{$concert->title}" class="title">
                                {$concert->title}
                            {/if}
                            </a>
                        </div>
                        <span class="time">
                            {if $pageType === 'en'}
                                {$concert->date|date:'h:i A'}
                            {else}
                                {$concert->date|date:'H:i'}
                            {/if}
                        </span>
                        <span class="place">{$concert->place}</span>
                        {if $concert->ticket_url}
                            <span class="ticket-url">
                                {if substr($concert->ticket_url, 0, 4) === 'http'}
                                    <a href="{$concert->ticket_url}" target="_blank">
                                        {if $pageType === 'en'}
                                            Tickets
                                        {else}
                                            Vstupenky
                                        {/if}
                                    </a>
                                {else}
                                    {$concert->ticket_url|firstUpper}
                                {/if}
                            </span>
                        {/if}
                        {if $pageType === 'en'}
                            <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug, lang => en}">
                        {else}
                            <a href="{plink Post:{$presenter->getView()}, itemType => $concert->id_pages, itemSlug => $concert->slug}">
                        {/if}
                            <span class="ellipsis">...</span>
                        </a>
                    </div>
                </div>

            {/foreach}

            {if $pageType !== 'en'}
                <div class="button-wrapper">
                    {if $user->isAllowed($presenter->name,'admin')}
                        <a href="{plink Page:admin, slug => 2}" class="more-button brown">Další koncerty</a>
                    {else}
                        <a href="{plink Page:default, slug => 2}" class="more-button brown">Další koncerty</a>
                    {/if}
                </div>
            {/if}

        {else}
            <p class="empty">
            {if $pageType !== 'en'}
                V tuto chvíli nemáme naplánovány žádné koncerty.
            {else}
                At the moment we have no planned concerts.
            {/if}
            </p>
        {/if}


    </div>
</div>

{if $pageType === 'en'}

    <div class="about-us" id="about-us">
        <div class="about-us-wrapper">

            {if !empty($page)}

                <h1>About us</h1>

                {if $presenter->getView() == 'admin'}
                    <div class="admin-panel active">
                    {control pageContentForm}
                    </div>

                {else}
                    {if $page->content}
                        {$page->content|noescape}
                        <div class="clearfix"></div>
                    {else}
                        <p class="empty">Coming soon.</p>
                    {/if}
                {/if}

            {/if}

        </div>
    </div>

{/if}

<div class="youtube-hp">
    <iframe  width="853" height="480" src="https://www.youtube.com/embed/N6DwtNTMncQ?showinfo=0" frameborder="0" allowfullscreen></iframe>
    <a href="https://www.youtube.com/user/PoliceSymphony" class="more-button white" target="_blank">
        {if $pageType === 'en'}
            More on YouTube
        {else}
            Více na YouTube
        {/if}
    </a>
</div>

{if $pageType !== 'en'}

    <div class="photos-hp">
        <div class="inner-wrapper">

            {foreach $images as $image}
                <a href="{$basePath}/images/albums/{$image->id_items}/{$image->filename}" data-fresco-group="gallery" class="fresco">
                    <img src="{$basePath}/images/albums/{$image->id_items}/thumbs/{$image->filename}" />
                </a>
            {/foreach}

            <div class="button-wrapper">
                <a href="https://www.facebook.com/PoliceSymphony/photos/?tab=albums" class="more-button white" target="_blank">
                {if $pageType === 'en'}
                    More on Facebook
                {else}
                    Více na Facebooku
                {/if}
                </a>
            </div>

        </div>
    </div>

{/if}