{*
API KEYS
Google Places API Web Service
AIzaSyByZ9PnOO-cHdY6OL4ypgVffHXGZi0MRNc 

Maps JavaScript API
AIzaSyDpd8O6ZYd1XjbxezvkvErggXSHpYfQfVY

Google Maps API
AIzaSyB9i9D6ffcmojrj3qeVFHZa5PU83-hJL_w
*}

{*pokud je prihlasen admin, muze upravit adresu v mape*}
{if $presenter->getView() == 'admin'}
    <div class="admin-panel active">
        <input id="gm-autocomplete-input" type="text" placeholder="Zadejte adresu k vyhledání" />
        <div id="gm-contact-map"></div>
        <div id="gm-infowindow-content">
            {*<img src="" width="16" height="16" id="gm-place-icon">*}
            <span id="gm-place-title"></span><br>
            <span id="gm-place-description"></span>
            <span style="display:none" id="gm-place-id">{$currentPlaceId}</span>
        </div>
        <input type="submit" onClick="saveAddress()" value="Uložit zvolenou adresu" />
    </div>
{/if}

{if $presenter->getView() != 'admin' && $currentPlaceId}
    <iframe width="450" height="250" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB9i9D6ffcmojrj3qeVFHZa5PU83-hJL_w&q=place_id:{$currentPlaceId}" allowfullscreen>
    </iframe>
{/if}