
{if !empty($menu)}

    {if $homepageId == $pageId || $activePageId === 9}
    <div class="hero">
    {/if}

        {var $view = $user->isAllowed($presenter->name,'admin') ? 'admin' : 'default'}

        <div class="header">
            <a href="{plink Page:$view, slug => $homepageId}" class="corp-logo"></a>

            <ul id="navigation">
            {foreach $menu as $section}
                <li n:class="$section->menu_title == 'EN' ? en">
                    <a href="{plink Page:$view, slug => $section->slug}">
                        <span n:class="$section->id_pages == $activePageId ? active">
                            {$section->menu_title}
                            {if $section->slug === 'novinky' && $newNewsCount != 0}
                                <div class="news-count" title="Jsou zde novinky, které jste nečetl/a.">{$newNewsCount}</div>
                            {/if}
                        </span>
                    </a>
                </li>
            {/foreach}
            </ul>

            <a href="#" class="hamburger-menu">
                <div class="breadroll">
                    <div class="beef"></div>
                </div>
            </a>

            <div id="overlay-menu">
                <ul>
                {foreach $menu as $section}
                    <li>
                        <a n:class="$section->id_pages == $activePageId ? active" href="{plink Page:$view, slug => $section->slug}">
                            {$section->menu_title}
                        </a>
                    </li>
                {/foreach}
                </ul>
            </div>

        </div>


    {if $homepageId == $pageId || $activePageId === 9}
        <div n:class="($slidesCount > 0 && $activePageId !==9) ? slideshow-active, hero-quote">

            {if $activePageId === 9}
                <p class="quote">We are both age and body young orchestra made up of enthusiastic musicians.</p>
                <a href="#" class="more-button white" id="about-us-button">More about us</a>

            {else}
                {if $slidesCount > 0}
                    <div class="slide-container">
                        <div class="slide-wrapper">

                            <div class="slide">
                                <p class="quote">Jsme věkem i tělem mladý orchestr složený z nadšených muzikantů.</p>
                                <a href="{plink Page:$view, slug => 5}" class="more-button white">Více o orchestru</a>
                            </div>

                            {foreach $slides as $slide}
                                <div class="slide">
                                    <p class="title">{$slide->title}</p>
                                    <div class="line"></div>
                                    <p class="perex">{$slide->perex|noescape}</p>

                                    <a href="{plink Post:$view, itemType => 'news', itemSlug => $slide->slug}" class="more-button white">Číst celé</a>
                                </div>
                            {/foreach}

                        </div>
                    </div>

                    <div class="switches">
                        {for $i = 1; $i <= $slidesCount + 1; $i++}
                            <div class="switch{if $i === 1}-active{/if}" id="switch{$i}" onclick="SwitchSlide({$i})"></div>
                        {/for}
                    </div>

                {else}
                    <p class="quote">Jsme věkem i tělem mladý orchestr složený z nadšených muzikantů.</p>
                    <a href="{plink Page:$view, slug => 5}" class="more-button white">Více o orchestru</a>
                {/if}

            {/if}

        </div>
    </div>

    <div class="arrow"></div>

    {/if}

{else}
    Zatím nebyly vytvořeny žádné sekce.
{/if}

