
<h1>Členové</h1>

{snippet musiciansWrapper} {* umoznuje prekresleni v pripade pridani a smazani muzikanta *}

    {if $presenter->getView() == 'admin'}
        <a n:href="add!" class="ajax add" id="add-musician" onclick="moveAdminPanel(event, [true,null])">Přidat nového člena</a>

        {snippet musicianFormSnippet} {* prekresluje formular *}
            <div n:class="$displayMusicianForm ? active, admin-panel, movable">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                {if isset($idMusicians)}
                    <h2>Upravit člena</h2>
                {else}
                    <h2>Přidat člena</h2>
                {/if}
                {control musicianForm}
            </div>
        {/snippet}
    {/if}

    <ul n:class="$presenter->getView() == 'admin' ? sortable-musicians, musicians" n:snippet="musiciansList">
        {foreach $musicians as $musician}

            <li class="musician" n:snippet="musician-$musician->id_musicians" data-musician-id={$musician->id_musicians}>
                <div class="img-wrapper">
                    {if $musician->photo}
                        <img src="{$basePath}/images/musicians/{$musician->id_items}/thumbs/{$musician->photo}">
                    {else}
                        <img src="{$basePath}/web_images/portrait_def.jpg">
                    {/if}
                </div>
                <div class="name">{$musician->name}</div>
                <div class="instrument">{$musician->instrument}</div>
                {if $presenter->getView() == 'admin'}
                <div class="admin-actions small">
                    <a n:href="update! $musician->id_musicians" class="ajax update" onclick="moveAdminPanel(event, [true,null,true])">Upravit</a>
                    <a n:href="delete! $musician->id_musicians" class="ajax delete" data-confirm="Opravdu chcete odstranit člena '{$musician->name}'?">Smazat</a>
                </div>
                {/if}
            </li>

        {/foreach}
    </ul>

    <script type="text/javascript">
        $(function () {
            $('.sortable-musicians')
                .sortable({
                    update: function (event, ui) {
                        var musicianId = ui.item.data('musician-id');
                        var sort = ui.item.index();
                        var data = {};
                        data[{$control->getUniqueId('sort')} + "-idMusicians"] = musicianId;
                        data[{$control->getUniqueId('sort')} + "-sort"] = sort;

                        $.nette.ajax({
                            type: "get",
                            url: {link sort},
                            data: data
                        });
                    },

                    cancel: '.name, .instrument',
                    tolerance: 'pointer',
                    cursor: 'move',
                    forcePlaceholderSize: true,
                    placeholder: 'musician-placeholder',

                    // http://stackoverflow.com/questions/1735372/jquery-sortable-list-scroll-bar-jumps-up-when-sorting
                    create: function(){
                        $(this).height($(this).height());
                    }
                });
        });
    </script>

{/snippet}


