
{snippet postsWrapper} {* umoznuje prekresleni v pripade pridani a smazani postu *}

    {if $presenter->getView() == 'admin'}
        <a n:href="add!" class="ajax add" id="add-post" onclick="moveAdminPanel(event, [true,null])">Přidat nový článek</a>

        {snippet newsFormSnippet} {* prekresluje formular *}
            <div n:class="$displayNewsForm ? active, admin-panel, movable">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                {if isset($idPosts)}
                    <h2>Upravit článek</h2>
                {else}
                    <h2>Přidat článek</h2>
                {/if}
                {control newsForm}
            </div>
        {/snippet}
    {/if}


    {if !empty($posts)}

        <div n:snippet="postsContainer" data-ajax-append="true"> {* umoznuje nacitat dalsi posty *}

            <div class="news-wrapper" n:snippet="postsList"> {* umoznuje prekreslit upraveny post *}
                {foreach $posts as $post}

                    {var $view = $user->isAllowed($presenter->name,'admin') ? 'admin' : 'default'}

                    <div class="news" n:snippet="post-$post->id_news">{* dynamicky snippet - prekresluje se v pripade upravy daneho postu *}
                        <a href="{plink Post:$view, 'itemType' => $post->id_pages, 'itemSlug' => $post->slug}" class="img-wrapper">
                        {if $post->news_thumb}
                            <img src="{$basePath}/images/news/{$post->id_items}/thumbs/{$post->news_thumb}" />
                        {else}
                            <img src="{$basePath}/web_images/news_def.jpg" />
                        {/if}
                        </a>
                        <div class="inner-wrapper">
                            <a href="{plink Post:$view, 'itemType' => $post->id_pages, 'itemSlug' => $post->slug}" class="title">
                                {$post->title}
                            </a>
                            <p class="text"><span>{$post->date|date:'j. n. Y'}</span> {$post->perex|noescape}</p>
                        </div>

                        {if $presenter->getView() == 'admin'}
                        <div class="admin-actions">
                            <a n:href="update! $post->id_news" class="ajax update" onclick="moveAdminPanel(event, [false,null])">Upravit</a>
                            <a n:href="delete! $post->id_news" class="ajax delete" data-confirm="Opravdu chcete odstranit novinku '{$post->title}'?">Smazat</a>
                        </div>
                        {/if}
                    </div>

                {/foreach}
            </div>

        </div>

        {control paginator}

    {else}
        <div class="empty">
            Zatím nebyly vloženy žádné novinky.
        </div>
    {/if}

{/snippet}

