
<div n:snippet="paginator" class="paginator">
    {if !$paginator->last}
        <a n:href="more!" class="more-button brown ajax spinner"  spinner-type="mega">
            {$moreButtonText}
        </a>
    {/if}
</div>
