

{snippet quotationsWrapper} {* umoznuje prekresleni v pripade pridani a smazani quotationu *}

    <h1>Řekli o nás</h1>

    {if $presenter->getView() == 'admin'}
        <a n:href="addQuotation!" class="ajax add" id="add-quotation" onclick="moveAdminPanel(event, [true,'quot'])">Přidat novou citaci</a>

        {snippet quotationFormSnippet} {* prekresluje formular *}
            <div n:class="$displayQuotationForm ? active, admin-panel, movable, quot">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                {if isset($idQuotations)}
                    <h2>Upravit citaci</h2>
                {else}
                    <h2>Přidat citaci</h2>
                {/if}

                {control quotationForm}
            </div>
        {/snippet}
    {/if}   

    <div n:snippet="quotationsContainer" data-ajax-append="true"> {* umoznuje nacitat dalsi quotation *}

        {snippet quotationsList} {* umoznuje prekreslit upraveny quotation *}
            {foreach $quotations as $quotation}

                <div class="quotation" n:snippet="quotation-$quotation->id_quotations"> {* dynamicky snippet - prekresluje se v pripade upravy daneho quotationu *}
                    <div class="img-wrapper">

                    {*obrazek vykresli, pouze pokud je pritomny*}
                    {if $quotation->photo}
                        <img src="{$basePath}/images/quotations/{$quotation->id_items}/thumbs/{$quotation->photo}">
                    {else}
                        <img src="{$basePath}/web_images/portrait_def.jpg" />
                    {/if}

                    </div>
                    <div class="inner-wrapper">
                        <div class="quote">„{$quotation->quotation}“</div>
                        <div class="details">— {$quotation->details}</div>
                    </div>


                    {if $presenter->getView() == 'admin'}
                    <div class="admin-actions">
                        <a n:href="updateQuotation! $quotation->id_quotations" class="ajax update" onclick="moveAdminPanel(event, [false,'quot'])">Upravit</a>
                        <a n:href="deleteQuotation! $quotation->id_quotations" class="ajax delete" data-confirm="Opravdu chcete odstranit citaci '{$quotation->quotation}'?">Smazat</a>
                    </div>
                    {/if}
                </div>

            {/foreach}
        {/snippet}

    </div>

    {control paginatorQuotations}

{/snippet}


{snippet referencesWrapper} {* umoznuje prekresleni v pripade pridani a smazani referenceu *}

    <h1>Napsali o nás</h1>

    {if $presenter->getView() == 'admin'}
        <a n:href="addReference!" class="ajax add" id="add-reference" onclick="moveAdminPanel(event, [true,'ref'])">Přidat nový článek z tisku</a>

        {snippet referenceFormSnippet} {* prekresluje formular *}
            <div n:class="$displayReferenceForm ? active, admin-panel, movable, ref">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                {if isset($idReferences)}
                    <h2>Upravit článek</h2>
                {else}
                    <h2>Přidat článek</h2>
                {/if}

                {control referenceForm}
            </div>
        {/snippet}
    {/if}   


    <div n:snippet="referencesContainer" data-ajax-append="true"> {* umoznuje nacitat dalsi reference *}

        {snippet referencesList} {* umoznuje prekreslit upraveny reference *}
            {foreach $references as $reference}

                {var $view = $user->isAllowed($presenter->name,'admin') ? 'admin' : 'default'}

                <div class="article" n:snippet="reference-$reference->id_references">{* dynamicky snippet - prekresluje se v pripade upravy daneho referenceu *}
                    <div class="inner-wrapper">

                        <a href="{plink Post:$view, 'itemType' => $reference->id_pages, 'itemSlug' => $reference->slug}" class="title">
                            {$reference->title}
                        </a>

                        <div class="details"><a href="https://www.google.cz/search?q={$reference->source|replace:' ','+'}">{$reference->source}</a>, publikováno {$reference->date|date:'j. n. Y'}</div>
                        <p class="text">{$reference->perex|noescape}</p>
                    </div>


                    {if $presenter->getView() == 'admin'}
                    <div class="admin-actions">
                        <a n:href="updateReference! $reference->id_references" class="ajax update" onclick="moveAdminPanel(event, [false,'ref'])">Upravit</a>
                        <a n:href="deleteReference! $reference->id_references" class="ajax delete" data-confirm="Opravdu chcete odstranit článek '{$reference->title}'?">Smazat</a>
                    </div>
                    {/if}
                </div>

            {/foreach}
        {/snippet}

    </div>

    {control paginatorReferences}

{/snippet}
