@-ms-viewport {
    width: device-width;
}

@font-face{
    font-family: "Cambria";
    src: url('../fonts/CAMBRIAB.TTF')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    border-spacing: 0;
}

html {
    min-width: 320px;

    font-size: 62.5%;
}

body {
    color: #636363;
    background: #3b3b3b;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

::-moz-selection {
    color: #fff;
    background-color: rgba(134, 72, 166, 0.94);
}

::selection {
    color: #fff;
    background-color: rgba(134, 72, 166, 0.94);
}

a {
    color: inherit;
    text-decoration: none;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

input, button, textarea, select {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-size: 1.6rem;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

button,
input[type="submit"] {
    cursor: pointer;
}




/**** AJAX SPINNER ****/

#ajax-spinner {
    margin: 15px 0 0 15px;
    padding: 7px;
    background: transparent url('../web_images/spinner.gif') no-repeat;
    font-size: 0;
    z-index: 123456;
    display: none;
}

#ajax-spinner.mega {
    padding: 50px;
}



/**** FLASH MESSAGE ****/

#flashes {
    pointer-events: none;
    z-index: 123456789;
    position: fixed;
    width: 380px;
    right: 25px;
    top: 110px;
    bottom: 170px;
    overflow: hidden;
}

div.flash {
    pointer-events: auto;
    position: relative;
    z-index: 1;
    opacity: 0;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 1.1em 1.5em;
    width: 100%;
    color: #ffffff;
    font-size: 1.4rem;
    background: #2ECC71;
    border-radius: 5px;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2);

    -webkit-transition: background-color 0.2s ease-out;
    -moz-transition: background-color 0.2s ease-out;
    -ms-transition: background-color 0.2s ease-out;
    -o-transition: background-color 0.2s ease-out;
    transition: background-color 0.2s ease-out;
}
div.flash.error {
    background: #dc3434;
}
div.flash.warning {
    background: #F39C12;
}

div.flash:hover {
    background: #30c76a;
}
div.flash.error:hover {
    background: #cf302d;
}
div.flash.warning:hover {
    background: #e88f13;
}

div.flash .flash-type {
    font-weight: 700;
    margin-bottom: 4px;
    font-size: 1.5rem;
}

div.flash .progressbar {
    z-index: -1;
    position: absolute;
    content: "";
    width: 0%;
    height: 100%;
    left: 0;
    top: 0;
    background: #000000;
    opacity: 0.04;
}

div.flash .close {
    float: right;
    font-weight: 400;
    font-size: 1.9rem;
    line-height: 19px;
    cursor: pointer;
}

@media screen and (max-width: 430px) {

    #flashes {
        width: 90%;
        left: 50%;
        transform: translateX(-50%);
        top: 90px;
    }

    div.flash {
        font-size: 1.3rem;
        padding: 0.8em 1.2em;
    }

    div.flash .flash-type {
        font-weight: 700;
        margin-bottom: 2px;
        font-size: 1.35rem;
    }

    div.flash .close {
        padding-left: 20px;
    }
}



a[href^="#error:"] {
    background: red;
    color: white;
}




/**** KOMENTARE ****/

/** form pro vkladani komentaru **/

#cancel {
    cursor: pointer;
    position: absolute;
    display: none;

    top: -41px;
    right: 0;
    width: 35px;
    height: 35px;

    line-height: 34px;
    color: #ffffff;
    font-size: 27px;
    font-weight: 200;
    text-align: center;

    border-radius: 2px;
    background-color: #9e5428;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

#cancel:hover {
    background-color: #7e4320;
}

#commentForm {
    position: relative;
    margin-top: 25px;
    margin-bottom: 45px;
}

.comment-form input,
.comment-form textarea {
    padding: 10px 14px;
    color: #636363;
    font-size: 1.7rem;
    border-radius: 2px;
}

.comment-form input[name=author],
.comment-form textarea {
    border: 1px solid #cccccc;
}

.comment-form input:hover,
.comment-form textarea:hover{
    outline: none;
    border: 1px solid #bdafa6;
    -webkit-box-shadow: 0 0 5px 0 #d9d5d2;
    box-shadow: 0 0 5px 0 #d9d5d2;
}

.comment-form input:focus,
.comment-form textarea:focus {
    outline: none;
    border: 1px solid #b7a091;
}

.comment-form input {
    height: 43px;
}

.comment-form textarea {
    line-height: 1.6;
}


.comment-form input[name=author],
.comment-form input[name=_submit] {
    margin-top: 5px;
    width: 70%;
}

.comment-form input[name=_submit] {
    float: right;
    width: 28%;
    color: #f2f2f2;
    background-color: #9e5428;
    border: none;
}

.comment-form input[name=_submit].admin {
    float: none;
    width: 100%;
}

.comment-form input[name=_submit]:hover {
    background-color: #7e4320;
}

@media screen and (max-width: 768px) {

    #commentForm {
        margin-bottom: 38px;
    }

    .comment-form input {
        height: 40px;
    }

    .comment-form input,
    .comment-form textarea {
        padding: 8px 12px;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 480px) {

    #commentForm {
        margin-bottom: 30px;
    }

    .comment-form input {
        height: 35px;
    }

    .comment-form input,
    .comment-form textarea {
        padding: 7px 10px;
        font-size: 1.4rem;
    }

}



/** zahlavi bloku s komentari **/

.comments-header {
    position: relative;
    height: 60px;
    margin: 50px 0 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid #9e5428;
}

.comments-header h3 {
    line-height: 60px;
    font-size: 2.1rem;
    color: #9e5428;
}

.comments-header .comments-sort {
    position: absolute;
    right: 0;
    top: 7px;
    color: #9e5428;
    font-weight: 400;
    font-size: 1.6rem;
}

.comments-header .comments-sort a {
    display: inline-block;
    margin: 0 15px;
    padding: 0 8px;
    line-height: 50px;
    border-bottom: 2px solid #f2f2f2;
}

.comments-header .comments-sort a:hover {
    border-bottom: 2px solid #9e5428;
}

.comments-header .comments-sort a.active {
    font-weight: 600;
    border-bottom: 3px solid #9e5428;
}


@media screen and (max-width: 768px) {

    .comments-header {
        margin: 15px 0;
    }

    .comments-header h3 {
        font-size: 2rem;
        text-align: left;
        line-height: 64px;
    }

    .comments-header .comments-sort {
        font-size: 1.4rem;
    }

    .comments-header .comments-sort a {
        margin: 0 10px;
        padding: 0 4px;
    }
}

@media screen and (max-width: 480px) {

    .comments-header {
        text-align: center;
        height: 70px;
        margin: 30px 0 15px;
    }

    .comments-header h3 {
        line-height: 0;
        text-align: center;
        font-size: 1.8rem;
    }

    .comments-header h3.no-sort {
        line-height: 70px;
    }

    .comments-header .comments-sort {
        position: static;
        margin-top: 17px;
        font-size: 1.3rem;
    }
}



/** komentar **/

.comment {
    position: relative;
    margin-top: 30px;
}

.comment abbr,
.comment .answer {
    color: #bdbdbd;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.comment:hover abbr,
.comment:hover .answer {
    color: #7f7f7f;
}


.comment .name {
    display: inline-block;
    color: #9e5428;
    font-size: 1.7rem;
    font-weight: 700;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.comment .name span {
    display: inline-block;
    margin-bottom: 2px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    background-color: #909090;
    width: 15px;
    line-height: 15px;
    border-radius: 50%;

    cursor: help;
    opacity: 0.5;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.comment .name span:hover {
    opacity: 1;
}

.comment.feedback .name {
    color: #8648a6;
    font-size: 1.8rem;
}

.comment abbr {
    margin-left: 10px;
    cursor: help;
    font-size: 1.3rem;
}


.comment p.text {
    padding: 6px 0;
    text-align: left;
    font-size: 1.7rem;
}

.comment p.text a {
    margin-right: 5px;
    color: #9e5428;
    font-weight: 400;
    font-style: normal;
}

.comment p.text a:hover {
    color: #8648a6;
}

.comment p.text.hidden {
    font-style: italic;
}

.comment p.text.nonactive {
    display: none;
}


.comment .rating {
    display: inline-block;
    color: #828282;
    font-size: 1.3rem;
}

.comment .rating .uprate,
.comment .rating .downrate {
    display: inline-block;
    vertical-align: sub;
    width: 11px;
    height: 15px;
    background: transparent no-repeat center;
    opacity: 0.75;
}

.comment .rating .uprate:hover,
.comment .rating .downrate:hover {
    opacity: 1;
}

.comment .rating .uprate {
    background-image: url('../web_images/uprate.png');
}

.comment .rating .uprate.active {
    background-image: url('../web_images/uprate_a.png');
}

.comment .rating .downrate {
    background-image: url('../web_images/downrate.png');
}

.comment .rating .downrate.active {
    background-image: url('../web_images/downrate_a.png');
}


.comment .answer {
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.3rem;
}

.comment .answer:hover {
    color: #9e5428;
}


.comment.reply {
    margin-left: 30px;
}


@media screen and (max-width: 768px) {

    .comment {
        margin-top: 25px;
    }

    .comment .name {
        font-size: 1.6rem;
    }

    .comment.feedback .name {
        font-size: 1.7rem;
    }

    .comment p.text {
        padding: 6px 0;
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 480px) {

    .comment {
        margin-top: 20px;
    }

    .comment .name {
        font-size: 1.5rem;
    }

    .comment.feedback .name {
        font-size: 1.6rem;
    }

    .comment p.text {
        padding: 4px 0;
        text-align: left;
        font-size: 1.4rem;
    }
}




/**** TLACITKO DALSI/VICE ****/

.button-wrapper {
    padding-top: 15px;
    display: block;
    text-align: center;
}

.more-button {
    display: inline-block;
    line-height: 50px;
    padding: 0 24px;
    border-radius: 25px;
    background-color: transparent;
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-transform: uppercase;
}

@media screen and (max-width: 480px) {

    .more-button {
        line-height: 45px;
        font-size: 1.4rem;
    }
}

.more-button.brown {
    color: #9e5428;
    border: #9e5428 solid 1px;
}

.more-button.brown:hover {
    background-color: #9e5428;
    color: #fff;
}

.more-button.white {
    color: #fff;
    border: #fff solid 1px;
}

.more-button.white:hover {
    background-color: #fff;
    color: #636363;
}





/**** MODALNI OKNA ****/

#overlay-login {
    position: fixed;
    display: none;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(27, 28, 36, 0.55);
}

#overlay-login #modal-login {
    position: fixed;
    padding: 40px;
    padding-top: 60px;
    padding-bottom: 35px;
    text-align: center;
    background-color: #fff;
    -webkit-box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
    box-shadow: 0 0 25px 0 rgba(0,0,0,0.25);
}

#overlay-login #modal-login .close {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: #a157c8;
    font-size: 50px;
    font-weight: 200;
    z-index: 1;
}

#overlay-login #modal-login .close:hover {
    color: #6e408c;
}


.signin-form .username,
.signin-form .password {
    border: 1px solid #bebebe;
    padding: 10px 12px;
    width: 100%;
    font-size: 1.5rem;
    margin-top: 8px;
    font-weight: 300;
    border-radius: 5px;
}

.signin-form ul.error {
    padding: 0 5px;
    padding-top: 30px;
    color: #E23E3E;
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    list-style-type: none;
}

form.sign::-webkit-input-placeholder {
    color: #999999;
}
form.sign :-moz-placeholder { /* Firefox 18- */
    color: #999999;
}
form.sign ::-moz-placeholder {  /* Firefox 19+ */
    color: #999999;
}
form.sign :-ms-input-placeholder {
    color: #999999;
}

.signin-form button {
    display: inline-block;
    line-height: 50px;
    margin-top: 25px;
    width: 100%;
    border-radius: 5px;
    background-color: #8747a7;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: 300;
    text-transform: uppercase;
}

.signin-form button:hover {
    background-color: #704790;
}


@media screen and (max-width: 424px) and (orientation: portrait) {

    #overlay-login #modal-login {
        width: 100%;
        top: 50%;
        margin-top: -200px;
        border-radius: 0;
    }

    .signin-form button {
        line-height: 45px;
        font-size: 1.4rem;
    }
}

@media screen and (min-width: 425px) and (orientation: portrait) {

    #overlay-login #modal-login {
        width: 420px;
        top: 50%;
        left: 50%;
        margin-left: -210px;
        margin-top: -200px;
        border-radius: 5px;
    }
}

@media screen and (max-height: 360px) and (orientation: landscape) {

    #overlay-login #modal-login {
        width: 100%;
        height: 100%;
        padding-top: 80px;
        border-radius: 0;
    }

    .signin-form button {
        line-height: 45px;
        font-size: 1.4rem;
    }
}

@media screen and (min-height: 361px) and (orientation: landscape) {

    #overlay-login #modal-login {
        width: 420px;
        left: 50%;
        margin-left: -210px;
        margin-top: 15vh;
        border-radius: 5px;
    }
}

@media screen and (min-height: 500px) and (orientation: landscape) {

    #overlay-login #modal-login {
        margin-top: 20vh;
    }
}





/**** ZAHLAVI ****/

.header, .hero .header.active  {
    z-index: 69;
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 4%;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.4);

    -webkit-transition: opacity, height, background 0.2s;
    -moz-transition: opacity, height, background 0.2s;
    -ms-transition: opacity, height, background 0.2s;
    -o-transition: opacity, height, background 0.2s;
    transition: opacity, height, background 0.2s;
}

.hero .header {
    position: absolute;
    top: 37px;
    height: 105px;

    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.hero .header.active  {
    position: fixed;
    top: 0px;
}

.hero .header .corp-logo {
    display: inline-block;
    float: left;
    width: 145px;
    height: 100%;
    background: transparent url(../web_images/logo.png) center center no-repeat;
    background-size: auto 95px;
}

.header .corp-logo,
.hero .header.active .corp-logo {
    display: inline-block;
    width: 90px;
    height: 100%;
    background: transparent url('../web_images/logo_small.png') bottom 23px center no-repeat;
    background-size: auto 42px;
}

.header .corp-logo:hover  {
    opacity: 0.8;
}


@media screen and (max-width: 767px) {

    .hero .header {
        height: 90px;
        top: 10px;
    }

    .header, .hero .header.active  {
        height: 70px;
        padding-left: 7%;
    }

    .hero .header .corp-logo {
        width: 100px;
        background-size: 100px;
    }

    .header .corp-logo,
    .hero .header.active .corp-logo {
        width: 75px;
        background: transparent url('../web_images/logo_small.png') bottom 18px center no-repeat;
        background-size: 70px;
    }

}


@media screen and (min-width: 768px) {

    .header ul#navigation {
        font-size: 0; /* fix mezer mezi inline-blocky */
        float: right;
        list-style: none;
    }

    .header ul#navigation li {
        display: inline-block;
        line-height: 80px;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: #636363;
    }

    .header ul#navigation li.en {
        padding-left: 25px;
    }

    .hero .header ul#navigation li {
        line-height: 105px;
        color: #fff;
    }

    .header.active ul#navigation li  {
        line-height: 80px;
        color: #636363;
    }

    .header ul#navigation li a {
        display: block;
        padding: 0 17px;
    }

/*    .header ul#navigation li a .news-count {
        vertical-align: middle;
        display: inline-block;
        font-weight: 400;
        font-size: 1.1rem;
        line-height: 16px;
        color: #ffffff;
        background-color: #ac5dd5;
        !* border: 1px solid #8648a6; *!
        padding: 0 3px;
        margin-left: 3px;
        margin-top: -2px;
        border-radius: 3px;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }*/

/*    .header ul#navigation li a .news-count {
        vertical-align: middle;
        display: inline-block;
        font-weight: 400;
        text-align: center;
        font-size: 1.1rem;
        line-height: 14px;
        color: #ffffff;
        background-color: #ac5dd5;
        width: 14px;
        margin-left: 1px;
        margin-top: -2px;
        border-radius: 12px;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }*/

    .header ul#navigation li a .news-count {
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-weight: 400;
        font-size: 1rem;
        line-height: 11px;
        color: #ffffff;
        background-color: #ac5dd5;
        margin-left: -2px;
        width: 11px;
        margin-top: -12px;
        border-radius: 50%;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .header ul#navigation li a:hover .news-count {
        background-color: #8648a6;
    }


    .header ul#navigation li span {
        position: relative;
    }

    .header ul#navigation li span.active  {
        padding-bottom: 5px;
        border-bottom: 3px solid #8648a6;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .header ul#navigation li a:hover span.active  {
        padding-bottom: 3px;
    }

    .header ul#navigation li a:hover span.active:after  {
        height: 0;
    }

    .header ul#navigation li span:after {
        display: block;
        position: absolute;
        width: 100%;
        height: 0px;
        left: 0;
        bottom: -8px;
        content: "";
        background-color: #8648a6;

        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -ms-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s;
    }

    .header ul#navigation li a:hover span:after {
        height: 3px;
    }
}

@media screen and (max-width: 1299px) {

    .header ul#navigation {
        display: none;
    }
}


#overlay-menu {
    position: fixed;
    display: none;
    text-align: center;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
}

#overlay-menu ul {
    display: block;
    position: relative;
    top: 51%;

    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

#overlay-menu ul li a {
    color: #636363;
    font-size: 5rem;
    font-weight: 300;
    line-height: 9rem;
    letter-spacing: -1px;
}

#overlay-menu ul li a:hover {
    color: #9f55c5;
}

#overlay-menu ul li a.active {
    font-weight: 400;
}


@media screen and (max-height: 900px) {

    #overlay-menu ul li a {
        font-size: 4.4rem;
        line-height: 8rem;
    }
}

@media screen and (max-height: 750px) {

    #overlay-menu ul li a {
        font-size: 4rem;
        line-height: 7rem;
    }
}

@media screen and (max-height: 670px) {

    #overlay-menu ul li a {
        font-size: 3.2rem;
        line-height: 6rem;
    }
}

@media screen and (max-height: 570px) {

    #overlay-menu ul li a {
        font-size: 2.8rem;
        line-height: 5rem;
    }
}

@media screen and (max-height: 500px) and (orientation: landscape) {

    #overlay-menu ul li a {
        font-size: 2.2rem;
        line-height: 4rem;
    }
}

@media screen and (max-height: 380px) and (orientation: landscape) {

    #overlay-menu ul li a {
        font-size: 2.2rem;
        line-height: 3rem;
    }
}


@media screen and (min-width: 1300px) {

    .header .hamburger-menu {
        display: none;
    }
}

@media screen and (max-width: 1299px) {

    .header .hamburger-menu {
        position: relative;
        z-index: 10000;
        float: right;
        line-height: 80px;
        width: 60px;
    }

    .hero .header .hamburger-menu {
        line-height: 105px;
    }

    .header.active .hamburger-menu {
        line-height: 80px;
    }

    .hamburger-menu .breadroll {
        display: inline-block;
        width: 40px;
        padding: 14px 13px;
    }

    .hamburger-menu .breadroll .beef,
    .hamburger-menu .breadroll .beef::before,
    .hamburger-menu .breadroll .beef::after {
        display: inline-block;
        position: absolute;
        width: 34px;
        height: 4px;

        -webkit-transition: transform 0.15s ease;
        -moz-transition: transform 0.15s ease;
        -ms-transition: transform 0.15s ease;
        -o-transition: transform 0.15s ease;
        transition: transform 0.15s ease;

        border-radius: 4px;
        background-color: white;
    }

    .hamburger-menu .breadroll .beef::before {
        top: 10px;
        content: "";
        opacity: 1;
    }

    .hamburger-menu .breadroll .beef::after {
        top: 20px;
        content: "";
    }

    .header.active .hamburger-menu .breadroll .beef,
    .header.active .hamburger-menu .breadroll .beef::before,
    .header.active .hamburger-menu .breadroll .beef::after,
    .hamburger-menu.active .breadroll .beef,
    .hamburger-menu.active .breadroll .beef::before,
    .hamburger-menu.active .breadroll .beef::after,
    #snippet--sortArea > .header .hamburger-menu .beef,
    #snippet--sortArea > .header .hamburger-menu .beef::before,
    #snippet--sortArea > .header .hamburger-menu .beef::after {
        background-color: #636363;
    }

    .hamburger-menu.active .breadroll .beef {
        -webkit-transform: translate3d(0px, 10px, 0px) rotate(45deg);
        transform: translate3d(0px, 10px, 0px) rotate(45deg);
    }

    .hamburger-menu.active .breadroll .beef::before {
        opacity: 0;
    }

    .hamburger-menu.active .breadroll .beef::after {
        -webkit-transform: translate3d(0px, -20px, 0px) rotate(-90deg);
        transform: translate3d(0px, -20px, 0px) rotate(-90deg);
    }

}


@media screen and (max-width: 767px) {

    .hero .header .hamburger-menu {
        line-height: 90px ;
    }

    .header .hamburger-menu,
    .header.active .hamburger-menu,
    .hero .header.active .hamburger-menu {
        line-height: 70px ;
    }
}








/**** HERO IMAGE ****/

.hero {
    position: relative;
    height: 83vh;
    background: #2d1638 url('../web_images/hero_image.jpg') no-repeat center;
    background-size: cover;
}

.hero:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.55);
}

.hero-quote {
    position: absolute;
    box-sizing: content-box;
    width: 768px;
    bottom: 14vh;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.hero-quote.slideshow-active {
    bottom: 9vh;
}


.hero-quote p {
    font-family: 'Cambria', sans-serif;
    font-weight: bold;
    color: #fff;
}

.hero-quote p.quote {
    font-size: 4.1rem;
}

.hero-quote p.title {
    display: inline-block;
    max-width: 540px;
    padding-bottom: 23px;
    font-size: 3rem;
    text-shadow: 0 0 15px #000000;
}

.hero-quote p.perex {
    margin: 0 auto;
    max-width: 680px;
    font-weight: 300;
    font-family: 'Roboto Slab', serif;
    font-size: 1.9rem;
    line-height: 1.6;

    text-shadow: 0 0 5px #000000, 0 0 15px #000000;
}

.hero-quote .line {
    margin: 0 auto;
    margin-bottom: 23px;
    height: 1px;
    width: 20%;
    background-color: #fff;
}

@media screen and (max-width: 389px) {


    .hero-quote {
        box-sizing: border-box;
        width: 100%;
        padding: 0 15px;
    }

    .hero-quote p.quote {
        line-height: 2.8rem;
        font-size: 2.2rem;
    }

    .hero-quote p.title {
        padding-bottom: 13px;
        font-size: 2rem;
    }

    .hero-quote p.perex {
        max-width: 315px;
        font-size: 1.3rem;
    }

    .hero-quote .line {
        margin-bottom: 13px;
    }
}

@media screen and (min-width: 390px) and (max-width: 767px) {

    .hero-quote {
        box-sizing: border-box;
        width: 100%;
        padding: 0 40px;
    }

    .hero-quote p.quote {
        line-height: 3.8rem;
        font-size: 2.8rem;
    }

    .hero-quote p.title {
        padding-bottom: 17px;
        font-size: 2.5rem;
    }

    .hero-quote p.perex {
        max-width: 700px;
        font-size: 1.5rem;
    }

    .hero-quote .line {
        margin-bottom: 17px;
    }

}


@media screen and (max-width: 1023px) {

    .hero {
        height: 95vh;
    }

    .hero-quote.slideshow-active {
        bottom: 12vh;
    }

}

@media screen and (min-width: 500px) and (max-width: 768px) and (orientation: landscape) {

    .hero-quote p.quote {
        line-height: 2.8rem;
        font-size: 2.2rem;
    }

    .hero-quote p.title {
        max-width: 315px;
        padding-bottom: 10px;
        font-size: 2rem;
    }

    .hero-quote p.perex {
        max-width: 480px;
        font-size: 1.3rem;
    }

    .hero-quote .line {
        margin-bottom: 10px;
    }

    .hero-quote.slideshow-active .more-button {
        font-size: 1.3rem;
        line-height: 44px;
    }
}


.hero-quote .more-button {
    margin-top: 5vh;
    border-width: 2px;
    border-radius: 27px;
}

.hero-quote.slideshow-active .more-button {
    margin-top: 4vh;
}

@media screen and (max-width: 1023px) and (orientation: landscape) {

    .hero {
        height: 95vh;
    }

    .hero-quote .more-button {
        margin-top: 4vh;
    }
}


#snippet--sortArea {
    position: relative;
}

.arrow {
    position: absolute;
    bottom: -2px;
    height: 29px;
    width: 100%;
    background: transparent url('../web_images/arrow.png') no-repeat center;
}



/**** SLIDESHOW ****/

.slide-container {
    margin: 0 auto;
    padding-bottom: 1px;
    font-size: 0;
    width: 768px;
    overflow: hidden;
}

.slide {
    display: inline-block;
    width: 768px;
}

.switches {
    margin: 0 auto;
    margin-top: 45px;
}

.switch, .switch-active {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #f2f2f2;
    border-radius: 50%;
    margin: 0 10px;
    cursor: pointer;
}

.switch-active, .switch:hover {
    background: #ac5dd5;
}

@media screen and (min-width: 500px) and (max-width: 768px) and (orientation: landscape) {

    .switches {
        margin-top: 20px;
    }
}






/**** KONCERTY ****/

.events {
    width: 100%;
    background-color: #f2f2f2;
}

.events .year-heading {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    color: #adadad;
    margin-top: 25px;
    margin-bottom: 10px;
}

.events-wrapper,
.events-wrapper-separate {
    width: 996px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 35px;
    padding-bottom: 60px;
}

.events-wrapper-separate {
    padding-top: 50px;
    padding-bottom: 8vh;
}

.events-wrapper h1,
.events-wrapper-separate h1 {
    margin-bottom: 45px;
    padding-top: 35px;
    font-family: "Roboto Slab", Courier, monospace;
    font-size: 3.2rem;
    color: #9e5428;
    text-align: center;
    background: transparent url('../web_images/concerts.png') no-repeat top center;
}

.events-wrapper-separate h1 {
    margin-top: 70px;
    margin-bottom: 25px;
    padding: 0;
    background: none;
}

@media screen and (max-width: 1023px) {

    .events-wrapper,
    .events-wrapper-separate {
        width: 100%;
    }
}

.event {
    position: relative;
    display: block;
    height: 83px;
    margin-bottom: 11px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0 2px 0 0 rgba(0,0,0,0.07);
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.07);
    text-align: left;
}

.event .date-wrapper {
    z-index: 1;
    position: absolute;
    display: inline-table;
    padding-right: 11px;
    width: 113px;
    height: 100%;
    text-align: center;
    /*border-right: 6px #efefef dotted;*/
}

.event .date-wrapper:after {
    position: absolute;
    content: "";
    left: 102px;
    height: 85px;
    width: 11px;
    background: transparent url('../web_images/dots.png') repeat-y right;
    background-size: 11px 17px;
}

.date-wrapper .date {
    display: table-cell;
    vertical-align: middle;
    line-height: 2.6rem;
    text-transform: uppercase;
    font-family: "Roboto Slab", Courier, monospace;
    font-size: 2.4rem;
    font-weight: 700;
    color: #9e5428;
}

.date-wrapper .date span {
    display: block;
    font-size: 1.8rem;
}

.event .inner-wrapper {
    position: relative;
    width: 100%;
    padding: 15px 30px;
    padding-left: 138px;

    overflow: hidden;
    white-space: nowrap;
}

.event .inner-wrapper .title-wrapper {
    font-size: 0;
}

.event .inner-wrapper .title-wrapper .title {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 6px;

    color: #636363;
    font-size: 1.8rem;
    font-weight: 600;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    border-bottom: 1px solid transparent;
}

.event .inner-wrapper .title-wrapper .title:hover {
    border-bottom: 1px solid #636363;
}

.event .inner-wrapper .ellipsis,
.event .inner-wrapper .time,
.event .inner-wrapper .place,
.event .inner-wrapper .ticket-url {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 300;
    vertical-align: bottom;
}

.event .inner-wrapper .ellipsis {
    position: absolute;
    display: none;
    right: 0;
    padding-bottom: 5px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+35&0+0,1+22,1+22 */
    background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 22%, rgba(255,255,255,1) 35%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 35%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 22%,rgba(255,255,255,1) 35%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.event .inner-wrapper .ellipsis.active {
    display: inline-block;
}

.event .inner-wrapper .time {
    padding-left: 19px;
    background: transparent url('../web_images/time.png') no-repeat left;
}

.event .inner-wrapper .place {
    margin-left: 15px;
    padding-left: 17px;
    background: transparent url('../web_images/place.png') no-repeat left;
}

.event .inner-wrapper .ticket-url {
    margin-left: 15px;
    padding-left: 25px;

    background: transparent url('../web_images/ticket.png') no-repeat left;
}

.event .inner-wrapper .ticket-url a {
    border-bottom: 1px dotted #bcbcbc;
}

.event .inner-wrapper .ticket-url a:hover {
    border-bottom: 1px solid #bcbcbc;
}

.events-wrapper-separate .more-button.brown,
.events-wrapper .more-button.brown {
    margin-top: 30px;
}

.events-wrapper-separate .more-button.brown {
    margin-top: 30px;
    margin-bottom: 30px;
}


@media screen
and (min-width: 0px)
and (max-width: 480px) {

    .events-wrapper h1,
    .events-wrapper-separate h1 {
        font-size: 2.6rem;
    }

    .events-wrapper-separate h1 {
        margin-top: 40px;
        font-size: 2.6rem;
    }

    .event {
        height: 68px;
    }

    .events .year-heading {
        font-size: 1.7rem;
        margin-top: 18px;
        margin-bottom: 8px;
    }

    .event .date-wrapper {
        width: 70px;
    }

    .event .date-wrapper:after {
        left: 56px;
        height: 70px;
        background-size: 8px 14px;

    }

    .date-wrapper .date {
        line-height: 2.3rem;
        font-size: 2.1rem;
    }

    .date-wrapper .date span {
        font-size: 1.5rem;
    }

    .event .inner-wrapper {
        padding: 11px 15px;
        padding-left: 83px;
    }

    .event .inner-wrapper .title-wrapper .title {
        margin-bottom: 4px;
        font-size: 1.5rem;
    }

    .event .inner-wrapper .ellipsis,
    .event .inner-wrapper .time,
    .event .inner-wrapper .place,
    .event .inner-wrapper .ticket-url {
        font-size: 1.4rem;
    }

    .event .inner-wrapper .time {
        padding-left: 18px;
    }

    .event .inner-wrapper .place {
        margin-left: 12px;
        padding-left: 15px;
    }

    .event .inner-wrapper .ticket-url {
        margin-left: 12px;
        padding-left: 23px;
    }

}

@media screen
and (min-width: 481px)
and (max-width: 767px) {

    .events-wrapper h1,
    .events-wrapper-separate h1 {
        font-size: 3rem;
    }

    .events-wrapper-separate h1 {
        margin-top: 60px;
    }

    .event {
        height: 75px;
    }

    .event .date-wrapper {
        width: 80px;
    }

    .event .date-wrapper:after {
        left: 67px;
        height: 77px;
        background-size: 9px 15px;
    }

    .date-wrapper .date {
        line-height: 2.4rem;
        font-size: 2.2rem;
    }

    .date-wrapper .date span {
        font-size: 1.6rem;
    }

    .event .inner-wrapper {
        padding: 13px 15px;
        padding-left: 98px;
    }

    .event .inner-wrapper .title-wrapper .title {
        margin-bottom: 5px;
        font-size: 1.6rem;
    }

    .event .inner-wrapper .ellipsis,
    .event .inner-wrapper .time,
    .event .inner-wrapper .place,
    .event .inner-wrapper .ticket-url {
        font-size: 1.5rem;
    }
}






/**** ABOUT US - v anglicke verzi webu ****/

.about-us {
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #dfdfdf;
}

.about-us-wrapper {
    width: 880px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 35px;
    padding-bottom: 60px;
}

.about-us-wrapper h1 {
    margin-bottom: 30px;
    padding-top: 38px;
    font-family: "Roboto Slab", Courier, monospace;
    font-size: 3.2rem;
    color: #9e5428;
    text-align: center;
    background: transparent url('../web_images/about_us.png') no-repeat top center;
}


.about-us-wrapper p,
.about-us-wrapper ul, .about-us-wrapper ol {
    margin-bottom: 18px;
    color: #636363;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.6;
}

.about-us-wrapper ul, .about-us-wrapper ol {
    margin-left: 35px;
    margin-bottom: 23px;
}

.about-us-wrapper p.headline {
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 2.4rem;
    color: #9d5428;
    font-family: "Roboto Slab", Courier, monospace;
}

.about-us-wrapper p span {
    font-weight: 400;
}

.about-us-wrapper p strong {
    font-weight: 600;
}

.about-us-wrapper a {
    color: #8648a6;
    border-bottom: 1px solid #dbdaf4;
}

.about-us-wrapper a:hover {
    border-bottom: 1px solid #8648a6;
}


.about-us-wrapper a.image-wrapper,
.about-us-wrapper a.image-wrapper:hover {
    border-bottom: none;
}

.about-us-wrapper a img {
    box-sizing: content-box;
    border-bottom: 1px solid #8648a6;

    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -ms-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
}

.about-us-wrapper a img:hover {
    border-bottom: 1px solid #af5ed9;
}

.about-us-wrapper .img-left {
    float: left;
    margin: 8px 0;
    margin-right: 30px;
    padding-right: 0;
}

.about-us-wrapper .img-right {
    float: right;
    margin: 8px 0;
    margin-left: 30px;
    padding-left: 0;
}


@media screen and (max-width: 900px) {

    .about-us-wrapper {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {

    .about-us-wrapper h1 {
        font-size: 3rem;
    }

    .about-us-wrapper ul, .about-us-wrapper ol {
        margin-left: 35px;
        font-size: 1.6rem;
    }

    .about-us-wrapper p {
        font-size: 1.6rem;
    }

    .about-us-wrapper p.headline {
        padding-top: 5px;
        font-size: 2.2rem;
    }

}

@media screen and (max-width: 480px) {

    .about-us-wrapper h1 {
        font-size: 2.6rem;
    }

    .about-us-wrapper ul, .about-us-wrapper ol {
        margin-left: 25px;
        font-size: 1.4rem;
    }

    .about-us-wrapper p {
        font-size: 1.4rem;
    }

    .about-us-wrapper p.headline {
        padding-top: 0;
        font-size: 2rem;
    }
}





/**** YOUTUBE ****/

iframe {
    display: block;
    margin: 10px auto;
}

@media screen and (max-width: 1023px) {

    iframe {
        width: 640px;
        height: 360px;
    }
}

@media screen and (max-width: 767px) {

    iframe {
        width: 560px;
        height: 315px;
    }
}

@media screen and (max-width: 600px) {

    iframe {
        width: 420px;
        height: 236px;
    }
}

@media screen and (max-width: 450px) {

    iframe {
        width: 360px;
        height: 202px;
    }
}

@media screen and (max-width: 390px) {

    iframe {
        width: 320px;
        height: 180px;
    }
}

@media screen and (min-width: 0px) and (max-width: 375px) {

    iframe {
        width: 260px;
        height: 146px;
    }
}

/**** YOUTUBE NA HOMEPAGE ****/

.youtube-hp {
    position: relative;
    z-index: 50;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    border-bottom: 1px solid #68495e;
    border-top: 1px solid #68495e;
    background-color: #62445a;
}

.youtube-hp:before {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.2;
    background: #5a3e54 url('http://img.youtube.com/vi/N6DwtNTMncQ/mqdefault.jpg') no-repeat center;
    background-size: cover;

    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    filter: grayscale(100%);
}

.youtube-hp iframe {
    margin: 0 auto;
    margin-bottom: 40px;
    -webkit-box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
    box-shadow: 0 0 15px 5px rgba(0,0,0,0.3);
}




/**** FOTKY NA HOMEPAGE ****/

.photos-hp {
    width: 100%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#62445a+0,36405a+100 */
    background: #474747; /* Old browsers */
    background: -moz-linear-gradient(top, #4b3043 0%, #474747 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #4b3043 0%,#474747 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #4b3043 0%,#474747 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b3043', endColorstr='#474747',GradientType=0 ); /* IE6-9 */
}

.photos-hp .inner-wrapper {
    width: 996px;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}


.photos-hp .inner-wrapper a:not(.more-button) {
    font-size: 0;
    margin: 5px;
}

.photos-hp .inner-wrapper img {
    width: 190px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.3);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.photos-hp .inner-wrapper img:hover {
    -webkit-box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.5);
}

.photos-hp .inner-wrapper .more-button {
    margin-top: 35px;
}

@media screen and (max-width: 966px) {

    .photos-hp .inner-wrapper {
        width: 100%;
    }

    .photos-hp .inner-wrapper img {
        width: 20%;
    }
}

@media screen and (max-width: 640px) {

    .photos-hp .inner-wrapper {
        width: 90%;
    }

    .photos-hp .inner-wrapper a:not(.more-button) {
        display: inline-block;
        width: 35%;
    }

    .photos-hp .inner-wrapper img {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {

    .photos-hp .inner-wrapper a:not(.more-button) {
        display: inline-block;
        width: 45%;
    }

    .photos-hp .inner-wrapper img {
        width: 100%;
    }
}





/**** OBSAH WEBU ****/

.content-wrapper {
    width: 100%;
    background-color: #f2f2f2;
}

.content {
    width: 768px;
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 80px;
    color: #636363;
}

/**** TEXTOVY OBSAH ****/

.content h1 {
    margin-top: 70px;
    margin-bottom: 25px;
    font-size: 3.2rem;
    font-family: "Roboto Slab", Courier, monospace;
    color: #9e5428;
    text-align: center;
}

.content h1.post-headline {
    text-align: left;
}

.content h2 {
    font-size: 1.65rem;
}

.content p {
    padding-bottom: 18px;
    line-height: 1.6;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: justify;
}

.content p.headline {
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 2.4rem;
    font-family: "Roboto Slab", Courier, monospace;
    color: #9d5428;
}

.content p:empty {
    font-size: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.content p span {
    font-weight: 400;
}

.content p strong {
    font-weight: 600;
}

.content ul, .content ol {
    margin-left: 35px;
    margin-bottom: 23px;
    margin-top: 10px;
    line-height: 1.6;
    font-weight: 300;
    font-size: 1.8rem;
}

.content li {
    margin-top: 10px;
}

@media screen and (min-width: 1024px) {

    .content iframe {
        width: 768px;
        height: 431px;
    }
}

@media screen and (max-width: 768px) {

    .content {
        width: 100%;
        padding-left: 5%;
        padding-right: 5%;
    }

    .content h1 {
        margin-top: 60px;
        margin-bottom: 15px;
        font-size: 2.8rem;
    }

    .content ul, .content ol {
        margin-left: 35px;
        font-size: 1.6rem;
    }

    .content p {
        font-size: 1.6rem;
        font-weight: 300;
    }

    .content p.headline {
        padding-top: 5px;
        font-size: 2.2rem;
    }

}

@media screen and (max-width: 480px) {

    .content {
        color: #2b2b2b;
    }

    .content h1 {
        margin-top: 40px;
        margin-bottom: 15px;
        font-size: 2.2rem;
    }

    .content ul, .content ol {
        margin-left: 25px;
        font-size: 1.4rem;
    }

    .content p {
        font-size: 1.4rem;
        font-weight: 300;
        text-align: left;
    }

    .content p.headline {
        padding-top: 0;
        font-size: 2rem;
    }
}

.content a.image-wrapper,
.content a.image-wrapper:hover {
    border-bottom: none;
}

.content a.image-wrapper img {
    max-width: 100%;
    height: auto;

    box-sizing: content-box;
    opacity: 1;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.content a.image-wrapper img:hover {
    opacity: 0.90;
}

.content .img-left {
    float: left;
    margin: 8px 0;
    margin-right: 30px;
    padding-right: 0;
}

.content .img-right {
    float: right;
    margin: 8px 0;
    margin-left: 30px;
    padding-left: 0;
}

.content > p > a,
.content > h2 > p > a,
.content > p > strong > a {
    color: #8648a6;
    border-bottom: 1px solid #dbdaf4;
}

.content > p > a:hover,
.content > h2 > p > a:hover,
.content > p > strong > a:hover  {
    border-bottom: 1px solid #8648a6;
}





.content .datetime,
.content .place,
.content .ticket-url,
.content .details  {
    padding: 5px 0;
    padding-left: 28px;
    font-size: 1.8rem;
    font-weight: 300;
}

.content .datetime {
    background: transparent url('../web_images/time.png') no-repeat center left 2px;
}

.content .place {
    background: transparent url('../web_images/place.png') no-repeat center left 3px;
}

.content .ticket-url {
    background: transparent url('../web_images/ticket.png') no-repeat left ;
}

.content .space {
    margin-bottom: 20px;
}

.content .datetime span,
.content .place span,
.content .details span {
    color: #9e5428;
}

.content .details a,
.content .ticket-url a {
    color: #9e5428;
    border-bottom: 1px dotted #a3a3a3;
}

.content .details a:hover,
.content .ticket-url a:hover {
    border-bottom: 1px solid #9e5428;
}


@media screen and (max-width: 768px) {

    .content .details,
    .content .datetime,
    .content .place,
    .content .ticket-url {
        padding: 3px 0;
        padding-left: 28px;
        font-size: 1.6rem;
    }

    .content .ticket-url {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 480px) {

    .content .details,
    .content .datetime,
    .content .place,
    .content .ticket-url {
        font-size: 1.4rem;
        padding-left: 28px;
    }
}

.content .details {
    padding-left: 0;
}







/**** PROFIL CLENA ****/

.content .musicians {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    font-size: 0;
    text-align: center;
}

.musicians .musician.ui-sortable-helper,
.musician-placeholder,
.musicians .musician {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 0 4%;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.musicians .musician:nth-of-type(n+4):after {
    position: absolute;
    content: "";
    width: 100%;
    top: -25px;
    left: 0;
    border-top: 1px solid #dbdbdb;
}

.musicians .musician.ui-sortable-helper {
    margin: 0 2%;
}

.musicians .musician-placeholder {
    margin-top: -25px;
    padding-bottom: 46px;
    background-color: #ebebeb;
    border: 2px dashed #ccc;
    border-radius: 5px;
}

.musicians .musician .img-wrapper {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-sizing: content-box;
    border-radius: 50%;
    border: 9px solid #dbdbdb;
}

.sortable-musicians .musician:hover .img-wrapper:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: transparent url("../web_images/move.png") center no-repeat;
}


.musicians .musician .img-wrapper img {
    width: 100%;
    height: 100%;
}

.musicians .musician .name {
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #9e5428;
}

.musicians .musician .instrument {
    margin-top: 2px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #636363;
}


@media screen and (max-width: 640px) {

    .musicians .musician .img-wrapper {
        width: 90px;
        height: 90px;
        border: 7px solid #dbdbdb;
    }

    .musicians .musician .img-wrapper img {
        height: 90px;
    }


    .musicians .musician .name {
        font-size: 1.6rem;
    }

    .musicians .musician .instrument {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 480px) {

    .musicians .musician-placeholder,
    .musicians .musician {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .musicians .musician:nth-of-type(n+4):after {
        top: -20px;
    }

    .musicians .musician-placeholder {
        margin-top: -20px;
        padding-bottom: 36px;
    }

    .musicians .musician .img-wrapper {
        width: 75px;
        height: 75px;
    }

    .musicians .musician .img-wrapper img {
        height: 75px;
    }

    .musicians .musician .name {
        margin-top: 5px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 425px) {

    .musicians .musician-placeholder,
    .musicians .musician {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .musicians .musician:nth-of-type(n+4):after {
        top: -15px;
    }

    .musicians .musician-placeholder {
        margin-top: -15px;
        padding-bottom: 26px;
    }

    .musicians .musician .img-wrapper {
        width: 65px;
        height: 65px;
    }

    .musicians .musician .img-wrapper img {
        height: 65px;
    }


    .musicians .musician .name {
        margin-top: 4px;
        font-size: 1.4rem;
    }

    .musicians .musician .instrument {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 375px) {

    .musicians .musician-placeholder,
    .musicians .musician {
        width: 40%;
    }

    .musicians .musician:nth-of-type(n+3):after {
        position: absolute;
        content: "";
        width: 100%;
        top: -15px;
        left: 0;
        border-top: 1px solid #dbdbdb;
    }

    .musicians .musician .name {
        margin-top: 3px;
        font-size: 1.4rem;
    }

    .musicians .musician .instrument {
        font-size: 1.2rem;
    }
}


.musicians .musician.ui-sortable-helper:after {
    border-top: none;
}


/**** PROFIL CLENA ****/

.content .contacts {
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-top: 5px;
    font-size: 0;
    text-align: center;
}

.contacts .contact.ui-sortable-helper,
.contact-placeholder,
.contacts .contact {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 25%;
    margin: 0 4%;
    margin-bottom: 25px;
    padding-bottom: 25px;
}

.contacts .contact:nth-of-type(n+4):after {
    position: absolute;
    content: "";
    width: 100%;
    top: -25px;
    left: 0;
    border-top: 1px solid #dbdbdb;
}

.contacts .contact.ui-sortable-helper {
    margin: 0 2%;
}

.contacts .contact-placeholder {
    margin-top: -25px;
    padding-bottom: 46px;
    background-color: #ebebeb;
    border: 2px dashed #ccc;
    border-radius: 5px;
}

.contacts .contact .img-wrapper {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    box-sizing: content-box;
    border-radius: 50%;
    border: 9px solid #dbdbdb;
}

.sortable-contacts .contact:hover .img-wrapper:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: transparent url("../web_images/move.png") center no-repeat;
}


.contacts .contact .img-wrapper img {
    width: 100%;
    height: 100%;
}

.contacts .contact .name {
    margin-top: 5px;
    font-size: 1.7rem;
    font-weight: 600;
    color: #9e5428;
}

.contacts .contact .instrument {
    margin-top: 2px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #636363;
}


@media screen and (max-width: 640px) {

    .contacts .contact .img-wrapper {
        width: 90px;
        height: 90px;
        border: 7px solid #dbdbdb;
    }

    .contacts .contact .img-wrapper img {
        height: 90px;
    }


    .contacts .contact .name {
        font-size: 1.6rem;
    }

    .contacts .contact .instrument {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 480px) {

    .contacts .contact-placeholder,
    .contacts .contact {
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .contacts .contact:nth-of-type(n+4):after {
        top: -20px;
    }

    .contacts .contact-placeholder {
        margin-top: -20px;
        padding-bottom: 36px;
    }

    .contacts .contact .img-wrapper {
        width: 75px;
        height: 75px;
    }

    .contacts .contact .img-wrapper img {
        height: 75px;
    }

    .contacts .contact .name {
        margin-top: 5px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 425px) {

    .contacts .contact-placeholder,
    .contacts .contact {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .contacts .contact:nth-of-type(n+4):after {
        top: -15px;
    }

    .contacts .contact-placeholder {
        margin-top: -15px;
        padding-bottom: 26px;
    }

    .contacts .contact .img-wrapper {
        width: 65px;
        height: 65px;
    }

    .contacts .contact .img-wrapper img {
        height: 65px;
    }


    .contacts .contact .name {
        margin-top: 4px;
        font-size: 1.4rem;
    }

    .contacts .contact .instrument {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 375px) {

    .contacts .contact-placeholder,
    .contacts .contact {
        width: 40%;
    }

    .contacts .contact:nth-of-type(n+3):after {
        position: absolute;
        content: "";
        width: 100%;
        top: -15px;
        left: 0;
        border-top: 1px solid #dbdbdb;
    }

    .contacts .contact .name {
        margin-top: 3px;
        font-size: 1.4rem;
    }

    .contacts .contact .instrument {
        font-size: 1.2rem;
    }
}


.contacts .contact.ui-sortable-helper:after {
    border-top: none;
}


/**** CITACE OSOBNOSTI ****/

.quotation {
    box-sizing: content-box;
    display: table;
    position: relative;
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 20px;

    border-bottom: 1px solid #dfdfdf;
}

.quotation .img-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 90px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #dbdbdb;
}

.quotation .img-wrapper img {
    width: 100%;
    height: 100%;
}

.quotation .inner-wrapper {
    display: table-cell;
    vertical-align: middle;
    padding-left: 112px;
}

.quotation .quote {
    font-size: 1.9rem;
    font-weight: 400;
    color: #9e5428;
}

.quotation .details {
    margin-top: 3px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #636363;
    font-style: italic;
}

.quotation .details a {
    color: #636363;
    border-bottom: 1px dotted #bcbcbc;
}

.quotation .details a:hover {
    border-bottom: 1px solid #bcbcbc;
}

@media screen and (max-width: 640px) {

    .quotation .quote {
        font-size: 1.8rem;
    }

    .quotation .details {
        margin-top: 3px;
        font-size: 1.4rem;
    }

}


@media screen and (max-width: 480px) {

    .quotation {
        height: 80px;
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .quotation .img-wrapper {
        width: 80px;
        height: 80px;
        border: 3px solid #dbdbdb;
    }

    .quotation .img-wrapper img {
        height: 80px;
    }

    .quotation .inner-wrapper {
        padding-left: 97px;
    }

    .quotation .quote {
        font-size: 1.7rem;
    }

    .quotation .details {
        font-size: 1.3rem;
    }
}


@media screen and (max-width: 320px) {

    .quotation {
        height: 75px;
    }

    .quotation .img-wrapper {
        width: 75px;
        height: 75px;
    }

    .quotation .img-wrapper img {
        height: 75px;
    }

    .quotation .inner-wrapper {
        padding-left: 88px;
    }

    .quotation .quote {
        font-size: 1.5rem;
    }

    .quotation .details {
        font-size: 1.2rem;
    }
}




/**** CLANEK Z TISKU ****/

.article {
    position: relative;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dfdfdf;
}

.article .inner-wrapper .title,
.article .inner-wrapper p {
    text-align: left;
}

.article .inner-wrapper .title {
    display: inline-block;
    font-size: 2.1rem;
    font-family: "Roboto Slab", Courier, monospace;
    font-weight: 700;
    color: #9e5428;
    border-bottom: 1px solid transparent;
}

.article .inner-wrapper .title:hover {
    border-bottom: 1px solid #9e5428
}

.article .inner-wrapper .details {
    margin-top: 3px;
    font-size: 1.5rem;
    font-weight: 300;
    color: #636363;
    font-style: italic;
}

.article .inner-wrapper .details a {
    color: #636363;
    border-bottom: 1px dotted #bcbcbc;
}

.article .inner-wrapper .details a:hover {
    border-bottom: 1px solid #bcbcbc;
}

.article .inner-wrapper .text {
    padding-bottom: 0;
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: 300;
}


.article .inner-wrapper .text a {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    background-color: #9e5428;
    border-radius: 5px;
}

.article .inner-wrapper .text a:hover {
    background-color: #773f1e;
}


@media screen and (max-width: 640px) {

    .article {
        margin-bottom: 17px;
        padding-bottom: 17px;
    }

    .article .inner-wrapper .title {
        font-size: 2rem;
    }

    .article .inner-wrapper .details {
        font-size: 1.4rem;
    }

    .article .inner-wrapper .text {
        margin-top: 3px;
        font-size: 1.5rem;
    }

}

@media screen and (max-width: 480px) {

    .article {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .article .inner-wrapper .title {
        font-size: 1.8rem;
    }

    .article .inner-wrapper .details {
        font-size: 1.3rem;
    }

    .article .inner-wrapper .text {
        margin-top: 3px;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 320px) {

    .article {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .article .inner-wrapper .title {
        font-size: 1.7rem;
    }

    .article .inner-wrapper .details {
        margin-top: 1px;
        font-size: 1.2rem;
    }

    .article .inner-wrapper .text {
        margin-top: 1px;
        font-size: 1.3rem;
    }
}





/**** NOVINKA ****/

.news {
    position: relative;
    box-sizing: content-box;
    width: 100%;
    margin-bottom: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid #dfdfdf;
}

.news .img-wrapper {
    position: relative;
    float: left;
    margin-right: 20px;
    width: 213px;
    height: 120px;
    overflow: hidden;
    font-size: 0;
    border-bottom: 1px solid #9e5428;
}

.news .img-wrapper:hover {
    border-bottom: 5px solid #9e5428;
}

.news .img-wrapper img {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.news .inner-wrapper .title,
.news .inner-wrapper p {
    text-align: left;
}

.news .inner-wrapper .title {
    font-size: 2.1rem;
    font-family: "Roboto Slab", Courier, monospace;
    font-weight: 700;
    color: #9e5428;
    border-bottom: 2px solid transparent;
}

.news .inner-wrapper .title:hover {
    border-bottom: 2px solid #9e5428
}

.news .inner-wrapper .text {
    padding-bottom: 0;
    margin-top: 5px;
    font-size: 1.6rem;
    font-weight: 300;
}

.news .inner-wrapper .text span {
    margin-right: 10px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #9e5428;
}

.news .inner-wrapper .text a {
    display: inline-block;
    margin-left: 5px;
    padding: 1px 5px;
    font-size: 1.2rem;
    font-weight: 300;
    color: #fff;
    background-color: #9e5428;
    border-radius: 5px;
}

.news .inner-wrapper .text a:hover {
    background-color: #773f1e;
}


@media screen and (min-width: 641px) {

    .news {
        min-height: 120px;
    }
}

@media screen and (min-width: 481px) and (max-width: 640px) {

    .news {
        min-height: 112px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .news .img-wrapper {
        font-size: 0;
        margin-right: 17px;
        width: 200px;
        height: 112px;
    }

    .news .img-wrapper img {
        width: 200px;
    }

    .news .inner-wrapper .title {
        font-size: 2.1rem;
    }

    .news .inner-wrapper .text {
        margin-top: 2px;
        font-size: 1.5rem;
    }

    .news .inner-wrapper .text span {
        margin-right: 7px;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 480px) {

    #snippet-posts-postsContainer {
        font-size: 0;
    }

    .news {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;

        width: 48%;
        border-bottom: 0;

        margin: 0;
        padding: 0;
    }

    .news:nth-of-type(odd) {
        margin-right: 4%;
    }

    .news:nth-of-type(n+3) {
        margin-top: 25px;
        padding-top: 25px;

        border-top: 1px solid #dfdfdf;
    }

    .news .img-wrapper {
        float: none;
        display: block;
        margin-right: 0;
        width: 100%;
        height: 90px;
        border-width: 2px;
    }

    .news .img-wrapper img {
        width: 100%;
    }

    .news .inner-wrapper .title {
        display: inline-block;
        padding-top: 10px;
        font-size: 1.7rem;
    }

    .news .inner-wrapper .text {
        margin-top: 2px;
        font-size: 1.4rem;
    }

    .news .inner-wrapper .text span {
        margin-right: 7px;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 375px) {

    .news:nth-of-type(odd) {
        margin-right: 0;
    }

    .news:nth-of-type(n+3) {
        border-top: 0;
        margin-top: 0;
        padding-top: 0;
    }

    .news {
        width: 100%;
        height: inherit;

        margin-bottom: 20px;
        padding-bottom: 20px;

        border-bottom: 1px solid #dfdfdf;
    }

    .news .img-wrapper {
        height: 120px;
    }

    .news .inner-wrapper .text {
        font-size: 1.3rem;
    }

    .news .inner-wrapper .text span {
        font-size: 1.2rem;
    }
}








/**** ADMIN ****/

.admin-panel {
    display: none;
    position: relative;
    padding: 20px;
    margin-bottom: 50px;
    background-color: #fff;
    border: 1px solid #dddddd;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.07);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.07);
}

.admin-panel.active {
    display: block;
}

.admin-panel h2 {
    padding-bottom: 15px;
    font-weight: 400;
    font-size: 2.4rem;
}

.admin-panel .close {
    position: absolute;
    right: 0;
    top: 11px;
    width: 50px;
    height: 50px;
    line-height: 45px;
    color: #636363;
    font-size: 45px;
    font-weight: 300;
    /* z-index: 1; */
}

.admin-panel .close:hover {
    color: #939393;
}


.admin-actions {
    position: absolute;
    right: 3px;
    top: 5px;
    color: #636363;
    font-size: 14px;
    font-weight: 300;
}

.admin-actions a {
    position: relative;
    display: inline-block;
    padding: 5px 12px;
    padding-left: 34px;
    margin-bottom: 5px;

    font-size: 1.4rem;
    font-weight: 400;

    background-color: #fff;
    background-repeat: no-repeat;
    background-position: left 10px center;

    border: 1px solid #dddddd;
    border-radius: 5px;

    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.07);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.07);
}

.admin-actions a.update {
    background-image: url('../web_images/update.png');
}

.admin-actions a.delete {
    background-image: url('../web_images/delete.png');
}

.admin-actions a.hide {
    background-image: url('../web_images/hide.png');
}

.admin-actions a.unhide {
    background-image: url('../web_images/unhide.png');
}



.add {
    display: inline-block;
    margin-bottom: 25px;
    padding: 10px 20px;
    padding-left: 50px;

    font-size: 1.4rem;
    font-weight: 400;

    border: 1px solid #dddddd;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 0 0 rgba(0,0,0,0.07);
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.07);

    background: #fff url('../web_images/add.png') left 15px center no-repeat;
}

.add:hover,
.admin-actions a:hover {
    color: #000;
    border: 1px solid #b6b6b6;
}


.admin-actions.small {
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0;
}

.admin-actions.small a {
    padding: 0;
    margin-left: 5px;
    height: 31px;
    width: 31px;
    font-size: 0;
    background-position: center;
}



form table {
    width: 100%;
}

form th, form td {
    display: block;
    font-weight: 400;
    font-size: 1.4rem;
}

form th {
    margin-top: 17px;
    margin-bottom: 3px;
    margin-left: 3px;
    text-align: left;
}

.admin-panel input,
.button-album,
form input,
form textarea,
form select {
    background-color: #f7f7f7;
    border: 1px solid #bebebe;
    /*border: 1px solid #e8e8e8/#bebebe;
    border-bottom: 1px solid #ccc;*/
    padding: 10px 12px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 300;
    border-radius: 5px;
}

form input[type=file] {
    border: none;
    background-color: inherit;
    padding: 10px 0;
}

form input[type=checkbox] {
    width: inherit;
    margin-right: 5px;
}

.button-album,
form button,
form input[type=submit],
.admin-panel input[type=submit] {
    margin-top: 25px;
    background-color: #e2e2e2;
    color: #4f4f4f;
    font-weight: 400;
}

form select:hover,
form textarea:hover,
form input:hover,
form select:focus,
form textarea:focus,
form input:focus {
    outline: none;
    border: 1px solid #9d9d9d;
}

.button-album:hover,
form button:hover,
form input[type=submit]:hover,
.admin-panel input[type=submit]:hover{
    background-color: #f2f2f2;
}

form input[type=file]:hover,
form input[type=file]:focus {
    border: none;
    background-color: inherit;
}


form .required th label {
    font-weight: 700;
}

form .required td > span {
    display: inline-block;
    padding-right: 18px;
    margin-bottom: 15px;
}

input[type=radio] {
    vertical-align: middle;
    width: auto;
    margin-right: 5px;
    margin-top: -2px;
    margin-left: 5px;
}

form .error {
    color: #f15757;
    font-weight: 400;
    list-style: none;
    margin: 0;
    font-size: 1.4rem;
}



/*zvalidovany prvek formulare, ktery splnuje dana pravidla*/
/*.validated {
    background-color: #99f999;
}*/

/*zvalidovany prvek formulare, ktery nesplnuje dana pravidla*/
.not-validated {
    border: 1px solid #e0a1a1;
}

.not-validated:hover,
.not-validated:focus {
    outline: none;
    border: 1px solid #fb4646;
}

.validation-nok {
    float: right;
    display: inline-block;
    margin-right: 5px;
    padding-right: 18px;
    color: #f15757;
    height: 19px;
    background: transparent url('../web_images/warning.png') right center no-repeat;
    background-size: 13px 13px;
}



.ui-timepicker-list li {
    font-size: 1.5rem;
}



#tinyMCE-fileupload {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-left: 50px;
    line-height: 50px;
    background: #f5f5f5 url(../web_images/spinner.gif) left 22px center no-repeat;
}



/*** POKUD JE POLE PRAZDNE ***/
.empty {
    margin-top: 20px;
    margin-bottom: 75px;
    font-size: 18px;
    color: #9e5428;
    text-align: center;
}




/**** GALERIE ****/

#snippet-gallery-albumsContainer.gallery-content {
    list-style-type: none;
    margin: 0;
    margin-top: 40px;
}

.gallery-content .album {
    list-style-type: none;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 25px;
    margin-top: 0;

    border-bottom: 1px solid #dfdfdf;
}

.gallery-content .album .album-type {
    color: #8c8c8c;
}

.gallery-content .album .name {
    display: inline-block;
    font-size: 2.1rem;
    line-height: 1.5;
    font-family: "Roboto Slab", Courier, monospace;
    font-weight: 700;
    color: #9e5428;
    border-bottom: 1px solid transparent;
}

.gallery-content .album .name:hover {
    border-bottom: 1px solid #9e5428;
}

.gallery-content p.description {
    padding-bottom: 0;
    text-align: left;
}


.album-img-preview {
    display: block;
    margin-top: 15px;
    font-size: 0;
}

.album-img-preview img {
    margin: 1px;
}

.album-img-preview a {
    display: inline-block;
    margin: 1px;
}


@media screen and (max-width: 800px) {

    .album-img-preview img {
        width: 24%;
    }
}

@media screen and (max-width: 500px) {

    .album-img-preview img {
        width: 49%;
    }
}


@media screen and (max-width: 640px) {

    #snippet-gallery-albumsContainer.gallery-content {
        margin-top: 30px;
    }

    .gallery-content .album {
        padding-bottom: 30px;
        margin-bottom: 25px;
    }

    .article {
        margin-bottom: 15px;
        padding-bottom: 15px;
    }

    .gallery-content .album .name {
        font-size: 2rem;
    }

}

@media screen and (max-width: 480px) {

    #snippet-gallery-albumsContainer.gallery-content {
        margin-top: 20px;
    }

    .gallery-content .album {
        padding-bottom: 25px;
        margin-bottom: 20px;
    }

    .gallery-content .album .name {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 320px) {

    #snippet-gallery-albumsContainer.gallery-content {
        margin-top: 15px;
    }

    .gallery-content .album {
        padding-bottom: 20px;
        margin-bottom: 15px;
    }

    .gallery-content .album .name {
        font-size: 1.7rem;
    }
}




/**** ALBUM ****/

#snippet-album-photosContainer-Admin {
    margin-bottom: 30px;
}

.album-content {
    font-size: 0;
    text-align: center;
}

.album-content a {
    display: inline-block;
    margin: 1px;
}

.album-content a img {
    opacity: 1;

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.album-content a img:hover {
    opacity: 0.9;
}

@media screen and (max-width: 800px) {

    .album-content img {
        width: 99%;
        margin: 1px;
    }

    .album-content a {
        width: 24%;
    }
}

@media screen and (max-width: 500px) {

    .album-content img {
        width: 99%;
        margin: 1px;
    }

    .album-content a {
        width: 48%;
    }
}


.admin-panel .button-album  {
    display: inline-block;
    margin: 0 15px;
    font-size: 1.5rem;
    width: 45%;
}

.admin-panel .button-album:disabled {
    color: #aeaeae;
}

.admin-panel .button-album:disabled:hover {
    background-color: #e2e2e2;
}


#snippet-album-photosContainer-Admin .photo {
    position: relative;
    display: inline;
}

.delete-checkbox {
    display: none;
}

.delete-checkbox + label div {
    position: absolute;
    display: none;
    width: 45px;
    height: 45px;
    background-color: #fff;
    cursor: pointer;

    left: 10px;
    bottom: 10px;

    border-radius: 3px;
    -webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);
    box-shadow: 0 0 5px 0 rgba(0,0,0,0.4);

    border: 1px solid #fff;
}

.delete-checkbox:checked + label div {
    background-color: #56386c;
    border: 1px solid #56386c;
    background: url('../web_images/check.jpg') center no-repeat;
}

.delete-checkbox + label div:hover {
    border: 1px solid #56386c;
}



.video  {
    position: relative;
    margin-bottom: 20px;
}



.paginator {
    margin-top: 40px;
    text-align: center;
}




/**** ZAPATI ****/

.footer {
    background-color: #4f4f4f;
    text-align: center;
}

.footer .inner-wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 35px 25px;
}

.footer .inner-wrapper a {
    display: inline-block;
    height: 52px;
    padding: 0 25px;
    vertical-align: middle;
    line-height: 52px;
    color: #a5a5a5;
    font-size: 16px;
    border: 1px solid #696969;
    border-radius: 26px;
    background: #575757 center no-repeat;
}

.footer .inner-wrapper a:hover {
    background-color: #474747;
}

.footer .inner-wrapper .fb {
    margin-right: 20px;
    background-image: url('../web_images/fb.png');
}

.footer .inner-wrapper .yt {
    background-image: url('../web_images/yt.png');
}

.footer .inner-wrapper .up {
    padding-right: 73px;
    background-position: bottom 15px right 20px;
    background-image: url('../web_images/up.png');
}

.footer .inner-wrapper .line {
    display: inline-block;
    vertical-align: middle;
    margin: 0 25px;
    height: 52px;
    width: 1px;
    background-color: #696969;
}

@media screen and (max-width: 479px) {

    .footer .inner-wrapper .up {
        padding-right: 25px;
        background-position: bottom 15px center;
    }

    .footer .inner-wrapper .up span {
        display: none;
    }
}

.footer .copyright {
    line-height: 45px;
    background-color: #474747;
    font-size: 14px;
    color: #a8a7a7;
}

.footer .admin {
    line-height: 35px;
    background-color: #3b3b3b;
    font-size: 13px;
    color: #9e9c9c;
}

.footer .admin a:hover {
    color: #a157c8;
}







/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#gm-contact-map {
  /*height: 100%;*/
  height: 500px;
}

#gm-place-description {
  font-family: 'Roboto', serif;
  font-size: 15px;
  font-weight: 300;
}

#gm-infowindow-content #gm-place-title {
  font-weight: bold;
}

#gm-infowindow-content {
  display: none;
}

#gm-contact-map #gm-infowindow-content {
  display: inline;
}

#gm-autocomplete-input {
    margin-bottom: 20px;
}