
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    border-spacing: 0;
}

html {
    font-size: 62.5%;
}

body {
    padding: 10px 8px;
    box-sizing: border-box;
    color: #636363;
    font-family: "Open Sans", Courier, monospace;
}



p {
    padding-bottom: 18px;
    line-height: 1.6;
    font-size: 1.8rem;
    font-weight: 300;
    text-align: justify;
}

p.headline {
    padding-top: 10px;
    padding-bottom: 8px;
    font-weight: 600;
    font-size: 2.4rem;
    color: #9d5428;
    font-family: "Roboto Slab", Courier, monospace;
}

p span {
    font-weight: 400;
}

p strong {
    font-weight: 600;
}

ul, ol {
    margin-left: 35px;
    margin-bottom: 23px;
    line-height: 1.5;
    font-weight: 300;
    font-size: 1.8rem;
}


@media screen and (max-width: 700px) {

    ul, ol {
        margin-left: 35px;
        font-size: 1.6rem;
    }

    p {
        font-size: 1.6rem;
        font-weight: 300;
    }

    p.headline {
        padding-top: 5px;
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 480px) {

    h1 {
        margin-top: 25px;
        margin-bottom: 15px;
        font-size: 2.8rem;
    }

    ul, ol {
        margin-left: 25px;
        font-size: 1.4rem;
    }

    p {
        font-size: 1.4rem;
        font-weight: 300;
    }

    p.headline {
        padding-top: 0;
        font-size: 2rem;
    }
}

a.image-wrapper,
a.image-wrapper:hover {
    border-bottom: none;
}

a img {
    box-sizing: content-box;
    opacity: 1;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

a img:hover {
    opacity: 0.95;
}

img {
    max-width: 100%;
    height: auto;
}

.img-left {
    float: left;
    margin: 8px 0;
    margin-right: 30px;
    padding-right: 0;
}

.img-right {
    float: right;
    margin: 8px 0;
    margin-left: 30px;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: #8648a6;
    border-bottom: 1px solid #dbdaf4;
}

a:hover {
    border-bottom: 1px solid #8648a6;
}


span[data-mce-object="iframe"] {
    display: block;
    border: none;
}

span[data-mce-object="iframe"] iframe {
    display: block;
    margin: 10px auto;
}

@media screen and (min-width: 1024px) {

    iframe {
        width: 768px;
        height: 431px;
    }
}

@media screen and (max-width: 1023px) {

    iframe {
        width: 640px;
        height: 360px;
    }
}

@media screen and (max-width: 767px) {

    iframe {
        width: 560px;
        height: 315px;
    }
}

@media screen and (max-width: 600px) {

    iframe {
        width: 420px;
        height: 236px;
    }
}

@media screen and (max-width: 450px) {

    iframe {
        width: 360px;
        height: 202px;
    }
}

@media screen and (max-width: 390px) {

    iframe {
        width: 320px;
        height: 180px;
    }
}

@media screen and (min-width: 0px) and (max-width: 375px) {

    iframe {
        width: 260px;
        height: 146px;
    }
}

