
{if !$isStandAlone}
    {snippet albumsName}
        <h1>{$album->title}</h1>
    {/snippet}
{/if}

{if $presenter->getView() == 'admin'}

    {if !$isStandAlone}
        <div class="admin-panel active album">
            <h2>Úprava alba</h2>
            {control changeAlbumNameForm}
        </div>
    {/if}


    <div class="admin-panel active">
        {if $album->album_type === 0}
            <h2>Přidat {if count($images) > 0}další{/if} fotky</h2>
            {control uploadImagesForm}

        {elseif $album->album_type === 1}
            <h2>Přidat {if count($videos) > 0}další{/if} videa</h2>
            {control videosForm}
        {/if}
    </div>

{else}

    {if $album->description}
        <p>{$album->description}</p>
    {/if}

{/if}


{snippetArea imagesArea}
    {if $album->album_type === 0}
        {include 'images.latte'}
    {elseif $album->album_type === 1}
        {include 'videos.latte'}
    {/if}
{/snippetArea}