
{snippet galleryWrapper}

    {if $presenter->getView() == 'admin'}
        <a n:href="add!" class="ajax add" id="add-album" onclick="moveAdminPanel(event, [true,'add-album'])">Přidat nové album</a>

        {snippet addAlbumFormSnippet}
            <div n:class="$displayAddAlbumForm ? active, admin-panel, add-album">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                <h2>Přidat album</h2>
                {control addAlbumForm}
            </div>
        {/snippet}

        {snippet changeNameFormSnippet}
            <div n:class="$displayChangeNameForm ? active, admin-panel, movable, edit-album">
                <a href="#" class="close" onclick="closeAdminPanel(event)">&times;</a>
                <h2>Úprava alba</h2>
                {control changeAlbumNameForm}
            </div>
        {/snippet}
    {/if}


    {if !empty($albums)}

        <ul n:snippet="albumsContainer" data-ajax-append="true" class="gallery-content"> {* umoznuje nacitat dalsi posty *}
            <div n:snippet="albumsList"> {* umoznuje prekreslit upraveny post *}
            {foreach $albums as $album}

                {var $view = $user->isAllowed($presenter->name,'admin') ? 'admin' : 'default'}

                <li n:snippet="album-$album->id_albums" class="album"> {* dynamicky snippet - prekresluje se v pripade upravy daneho postu *}

                    <a href="{plink Post:$view, 'itemType' => $album->id_pages, 'itemSlug' => $album->slug}" class="name">{$album->title}</a>
                    <span class="album-type">
                    {if $album->album_type === 0}
                        / fotoalbum
                    {elseif $album->album_type === 1}
                        / videoalbum
                    {/if}
                    </span>

                    {if $album->description}
                        <p class="description">{$album->description}</p>
                    {/if}

                    {if $album->album_type === 0 && !empty($previewImages[$album->id_albums])}

                        <a href="{plink Post:$view, 'itemType' => $album->id_pages, 'itemSlug' => $album->slug}" class="album-img-preview">
                            {foreach $previewImages[$album->id_albums] as $image}
                                <img src="{$basePath}/images/albums/{$album->id_items}/thumbs/{$image->filename}" />
                            {/foreach}
                        </a>
                    {/if}

                    {if $presenter->getView() == 'admin'}
                        <div class="admin-actions">
                            <a n:href="update! $album->id_albums" class="ajax update" onclick="moveAdminPanel(event, [false,'edit-album'])">Upravit</a>
                            <a n:href="delete! $album->id_albums" data-confirm='Opravdu chcete odstranit album "{$album->title}"?' class="ajax delete">Odstranit</a>
                        </div>
                    {/if}

                </li>

            {/foreach}
            </div>
        </ul>

        {control paginator}

    {else}
        <p class="empty">
            Galerie zatím neobsahuje žádná alba.
        </p>
    {/if}

{/snippet}