
{if !empty($images)}

    <div class="album-content">

    {if $presenter->getView() == 'admin'}

        {form removeImagesForm}

            <div class="admin-panel active">
                <a href="#" class="button-album delete-photos" onclick="activateCheckboxes(event)">Chci zvolit fotky k odstranění</a>
                {input submit class => 'button-album removeImagesForm-submit', id => 'removeImagesForm-submit1', disabled => ''}
            </div>

            <div n:snippet="photosContainer-Admin" data-ajax-append="true">
            {foreach $images as $key => $fileName}
                <div class="photo">
                    <a href="{$basePath}/images/albums/{$album->id_items}/{$fileName}" data-fresco-group="gallery" class="fresco">
                        <img src="{$basePath}/images/albums/{$album->id_items}/thumbs/{$fileName}" />
                    </a>
                    <input class="delete-checkbox" type="checkbox" name="images[]" value="{$key}" id="delete-checkbox-{$key}"
                        data-nette-rules='[{"op":":filled","msg":"Pokud chcete odstranit některou z fotek, zaškrtněte prosím příslušné pole."}]'>
                    <label for="delete-checkbox-{$key}"><div onclick="allowDelete(this)"></div></label>
                </div>
            {/foreach}
            </div>
            {snippet paginator}
                {control paginator}
            {/snippet}

            <div class="admin-panel active">
                <a href="#" class="button-album delete-photos" onclick="activateCheckboxes(event)">Chci zvolit fotky k odstranění</a>
                {input submit class => 'button-album removeImagesForm-submit', id => 'removeImagesForm-submit2', disabled => ''}
            </div>

        {/form}

    {else}
        <div n:snippet="photosContainer" data-ajax-append="true">
        {foreach $images as $image}
            <a href="{$basePath}/images/albums/{$album->id_items}/{$image}" data-fresco-group="gallery" class="fresco">
                <img src="{$basePath}/images/albums/{$album->id_items}/thumbs/{$image}" />
            </a>
        {/foreach}
        </div>

        {snippet paginator2}
            {control paginator}
        {/snippet}
    {/if}

    </div>

{else}
    <div class="empty">
        Zatím nebyly vloženy žádné fotky.
    </div>
{/if}