
{if !empty($videos)}

    {foreach $videos as $id => $video}
        <div class="video">
            <iframe  width="853" height="480" src="https://www.youtube.com/embed/{$video}" frameborder="0" allowfullscreen></iframe>

            {if $presenter->getView() == 'admin'}
                <div class="admin-actions">
                    <a n:href="delete! $id" onclick="return confirm('Opravdu chcete odstranit zvolené video?');" class="delete">Odstranit</a>
                </div>
            {/if}
        </div>
    {/foreach}

{else}
    <div class="empty">
        Zatím nebyla vložena žádná videa.
    </div>
{/if}