
{block title}404 - Stránka nebyla nalezena{/block}

{block content}

<div class="content-wrapper">
    <div class="content">

        <h1>Stránka nebyla nalezena</h1>

        <p>Je nám líto, ale vámi hledaná stránka nebyla nalezena. Omlouváme se za případné potíže.</p>

        <p><small>error 404</small></p>

    </div>
</div>

{/block}