
{if !empty($page)}
    {block title}{$page->title}{/block}
{/if}


{block content}


    {if $page->homepage || $pageType === 'en'}

        {control homepage $pageType}

    {elseif $pageType === 'concerts'}

        <div class="events">
            <div class="events-wrapper-separate">
                {control concerts}
            </div>
        </div>

    {elseif $pageType === 'references'}

        <div class="content-wrapper">
            <div class="content">

                {control references}

            </div>
        </div>

    {elseif $pageType === 'orchestr'}

        <div class="content-wrapper">
            <div class="content">

                {if !empty($page)}

                    <h1>{$page->title}</h1>

                    {if $presenter->getView() == 'admin'}
                        <div class="admin-panel active">
                        {control pageContentForm}
                        </div>
                    {else}
                        {$page->content|noescape}
                        <div class="clearfix"></div>
                    {/if}

                {/if}

                {control musicians}

            </div>
        </div>

    {elseif $pageType === 'news'}

        <div class="content-wrapper">
            <div class="content">
                <h1>{$page->title}</h1>

                {control posts}

            </div>
        </div>

    {elseif $pageType === 'gallery'}

        <div class="content-wrapper">
            <div class="content">

                <h1>{$page->title}</h1>

                {*{control gallery}*}

                <p>Vždy čerstvé fotky z našich akcí naleznete na našem <a href="https://www.facebook.com/PoliceSymphony/photos/?tab=albums" target="_blank">Facebook</a> profilu.</p>

                {control album}


                <h1>Videa</h1>

                <p>Naše nejnovější videa naleznete na našem <a href="https://www.youtube.com/user/PoliceSymphony" target="_blank">YouTube</a> kanále.</p>
                
                {foreach $videos as $video}
                    <iframe  width="853" height="480" src="https://www.youtube.com/embed/{$video}" frameborder="0" allowfullscreen></iframe>
                {/foreach}

            </div>
        </div>
                
    {elseif $pageType === 'contacts'}
        
        <div class="content-wrapper">
            <div class="content">
                <h1>{$page->title}</h1>

                {control contacts}

                {if $presenter->getView() == 'admin'}
                    <div class="admin-panel active">
                    {control pageContentForm}
                    </div>

                {else}
                    {$page->content|noescape}
                    <div class="clearfix"></div>
                {/if}

            </div>
        </div>

    {else}

        <div class="content-wrapper">
            {snippet pageContentWrapper}
            <div class="content">

                {if !empty($page)}

                    <h1>{$page->title}</h1>

                    {if $presenter->getView() == 'admin'}
                        <div class="admin-panel active">
                        {control pageContentForm}
                        </div>

                    {else}
                        {$page->content|noescape}
                        <div class="clearfix"></div>
                    {/if}

                {/if}

            </div>
            {/snippet}
        </div>

    {/if}

{/block}