{**
 * @param string   $basePath web base path
 * @param array    $flashes  flash messages
 *}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	<title>{ifset title}{include title|striptags} | {/ifset} Police Symphony Orchestra</title>

    <meta name="description" content="Oficiální stránky Police Symphony Orchestra" />
    <meta name="keywords" content=" pso, police orchestra, orchestr, orchestra, symphony orchestra, police symphony, hudba, koncerty" />
{*
    <meta property="og:title" content="Filip Benda | Webový vývojář a grafický designér" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.filipbenda.com/" />
    <meta property="og:description" content="Tvořím úspěšné weby přímo na míru potřebám Vašich zákazníků." />
    <meta property="og:image" content="http://filipbenda.com/images/og.png" />
    <meta property="fb:admins" content="100002421908700" />

    <meta name="twitter:title" content="Filip Benda | Webový vývojář a grafický designér" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:url" content="http://www.filipbenda.com/" />
    <meta name="twitter:description" content="Tvořím úspěšné weby přímo na míru potřebám Vašich zákazníků." />
    <meta name="twitter:image" content="http://filipbenda.com/images/og.png" />*}

	{block og}{/block}

    {if $presenter->getView() == 'admin'}
	<meta name="robots" content="noindex,nofollow"/>
    {/if}

    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no"/>
	<link rel="stylesheet" type="text/css" href="{$basePath}/css/main.css">
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/fresco/fresco.css"/>
    <link rel="stylesheet" type="text/css" href="{$basePath}/css/jquery.timepicker.css"/>

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Roboto+Slab:300,700&subset=latin-ext">

    <link rel="apple-touch-icon" href="{$basePath}/apple-touch-icon.png">

    <link rel="icon" type="image/png" sizes="96x96" href="{$basePath}/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/favicon-16x16.png">

	{block head}{/block}

{block scripts}
	<script type="text/javascript" src="{$basePath}/js/jquery-2.1.0.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/nette.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/fidRemove.ajax.js"></script>
	<script type="text/javascript" src="{$basePath}/js/netteForms.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/fresco.js"></script>
	<script type="text/javascript" src="{$basePath}/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{$basePath}/js/jquery.timepicker.min.js"></script> {* nepovinne *}
	<script type="text/javascript" src="{$basePath}/js/trunk8.js"></script> {* nepovinne *}
	<script type="text/javascript" src="{$basePath}/js/main.js"></script>
	<script type="text/javascript" src="{$basePath}/js/custom.js"></script> {* nutne vzdy upravit *}
	<script type="text/javascript" src="{$basePath}/js/flashMessages.js"></script>
	<script type="text/javascript" src="{$basePath}/js/slideshow.js"></script> {* nepovinne *}

    {if $presenter->getView() == 'admin'}
	<script type="text/javascript" src="{$basePath}/js/admin.js"></script>
    <script type="text/javascript" src="{$basePath}/js/maps-contact.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDpd8O6ZYd1XjbxezvkvErggXSHpYfQfVY&libraries=places&callback=initMap" async defer></script>
	<script type="text/javascript" src="{$basePath}/tinymce/tinymce.min.js"></script>
	<script type="text/javascript" src="{$basePath}/js/tinymce.init.js"></script>
    {/if}
{/block}

    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i) { w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-P3F86Q');
    </script>
</head>

<body>

	<script> document.body.className+=' js' </script>

    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3F86Q" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>


    {if !$user->isLoggedIn()}
    <div id="overlay-login">
        <div id="modal-login">
            <a href="#" class="close" onclick="showSign(event)">&times;</a>

            <div n:snippet="login" class="login">
                <form n:name="signInForm" class="ajax signin-form">
                    <input class="username" n:name="username" title="Uživatelské jméno" placeholder="Uživatelské jméno" />
                    <input class="password" n:name="password" title="Heslo" placeholder="Heslo" />

                    <ul class="error" n:if="$form->ownErrors">
                        <li n:foreach="$form->ownErrors as $error">{$error}</li>
                    </ul>

                    <button n:name="submit">Přihlásit se</button>
                </form>
            </div>
        </div>
    </div>
    {/if}

    {snippet flashMessage}
        <div n:inner-foreach="$flashes as $flash" id="flashes">
            <div n:class="flash, $flash->type" data-flash-id="{$iterator->getCounter() - 1}">
                <div class="progressbar"></div>
                <div class="close">&times;</div>
                <div class="flash-type">
                    {if $flash->type === "error"}
                        Chyba
                    {elseif $flash->type === "warning"}
                        Varování
                    {else}
                        Notifikace
                    {/if}
                </div>
                <p>{$flash->message}</p>
            </div>
        </div>
    {/snippet}


    {* Menu *}
    {snippet sortArea}
        {control menu}
    {/snippet}


    {* Obsah webu *}
	{include content}


    <div class="footer">
        <div class="inner-wrapper">
            <a href="https://www.facebook.com/PoliceSymphony/" class="fb" target="_blank"></a>
            <a href="https://www.youtube.com/user/PoliceSymphony" class="yt" target="_blank"></a>
            <div class="line"></div>
            <a href="#" class="up scroll-top"><span>VRÁTIT SE NAHORU</span></a>
        </div>

        <div class="copyright">© {date("Y")} Všechna práva vyhrazena</div>

        <div class="admin">
            {if $user->isLoggedIn()}
                {if $presenter->getName() !== 'Error'}
                    <a n:href="admin">administrace</a>
                {/if}
                ( <a n:href="logout">logout</a> )
            {else}
                <a href="#" onclick="showSign(event)">administrace</a>
            {/if}
        </div>
    </div>


    {* Administrace *}
    {*dát do modálního okna*}
    {if $presenter->getView() == 'admin'}
    {*{if $user->isAllowed($presenter->name,'admin')}*}
        {*{control admin}*}
    {/if}

</body>
</html>
