
{if !empty($post)}
    {block title}{$post->title}{/block}
{/if}

{block content}

    <div class="content-wrapper">
        <div class="content">

            {control album}

        </div>
    </div>

{/block}