
{if !empty($post)}
    {block title}{$post->title}{/block}
{/if}


{block og}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{$post->title} | Police Symphony Orchestra">
    <meta name="twitter:description" content="{$post->description|stripTags}">

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Police Symphony Orchestra" />
    <meta property="og:url" content="{$presenter->link('//this')}" />
    <meta property="og:title" content="{$post->title}" />
    <meta property="og:description" content="{$post->description|stripTags}" />
{/block}


{block content}

    <div class="content-wrapper">
        {snippet concertWrapper}

        <div class="content">

            {if !empty($post)}

                <h1 class="post-headline">
                    {if isset($lang)}
                        {$post->title_en}
                    {else}
                        {$post->title}
                    {/if}
                </h1>

                {if $presenter->getView() == 'admin'}
                    <div class="admin-panel active">
                        {control concertsForm}
                    </div>

                {else}
                    <div class="datetime">
                        {if isset($lang)}
                            <span>{$post->date|date:'j. n. Y'}</span> at <span>{$post->date|date:'h:i A'}</span>
                        {else}
                            <span>{$post->date|date:'j. n. Y'}</span> v <span>{$post->date|date:'H:i'}</span>
                        {/if}
                    </div>
                    <div class="place"><span>{$post->place}</span></div>
                    {if $post->ticket_url}
                    <div class="ticket-url">
                        {if substr($post->ticket_url, 0, 4) === 'http'}
                            {if isset($lang)}
                                Tickets are <a href="{$post->ticket_url}" target="_blank">available here</a>
                            {else}
                                Vstupenky jsou k <a href="{$post->ticket_url}" target="_blank">zakoupení zde</a>
                            {/if}
                        {else}
                            {$post->ticket_url|firstUpper}
                        {/if}
                    </div>
                    {/if}

                    <div class="space"></div>
                    <p>
                        {if isset($lang)}
                            {$post->description_en|noescape}
                        {else}
                            {$post->description|noescape}
                        {/if}
                    </p>
                {/if}

            {/if}

            {snippet commentsControl}
                {if $presenter->getView() == 'admin'}
                    <p>
                        <a n:href="switchCommentsAllowed!" class="ajax">Chci {$post->comments_allowed ? 'zakázat' : 'povolit'} komentáře u tohoto příspěvku.</a>
                    </p>
                {/if}
                {if $post->comments_allowed}
                    {control comments}
                {/if}
            {/snippet}

        </div>

        {/snippet}
    </div>

{/block}