
{if !empty($post)}
    {block title}{$post->title}{/block}
{/if}


{block og}
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{$post->title} | Police Symphony Orchestra">
    <meta name="twitter:description" content="{$post->perex}">
    {if $post->news_thumb}
        <meta name="twitter:image" content="http://www.policesymphonyorchestra.cz/images/{$post->news_thumb}">
    {/if}

    <meta property="og:type" content="article" />
    <meta property="og:site_name" content="Police Symphony Orchestra" />
    <meta property="og:url" content="{$presenter->link('//this')}" />
    <meta property="og:title" content="{$post->title}" />
    <meta property="og:description" content="{$post->perex}" />
    {if $post->news_thumb}
        <meta property="og:image" content="http://www.policesymphonyorchestra.cz/images/{$post->news_thumb}" />
    {/if}
{/block}


{block content}

    <div class="content-wrapper">
        {snippet postWrapper}

        <div class="content">

            {if !empty($post)}
                <h1 class="post-headline">{$post->title}</h1>

                {if $presenter->getView() == 'admin'}
                    <div class="admin-panel active">
                        {control newsForm}
                    </div>

                {else}
                    <div class="details">
                        Publikováno <span>{$post->date|date:'j. n. Y'}</span>
                        {*v <span>{$post->date_created|date:'H:i'}</span>*}
                    </div>
                    {if $post->date_updated}
                        <div class="details">
                            Poslední úprava <span>{$post->date_updated|date:'j. n. Y'}</span>
                            v <span>{$post->date_updated|date:'H:i'}</span>
                        </div>
                    {/if}

                    <div class="space"></div>

                    {$post->content|noescape}
                {/if}

            {/if}


            {snippet commentsControl}
                {if $presenter->getView() == 'admin'}
                    <p>
                        <a n:href="switchCommentsAllowed!" class="ajax">Chci {$post->comments_allowed ? 'zakázat' : 'povolit'} komentáře u tohoto příspěvku.</a>
                    </p>
                {/if}
                {if $post->comments_allowed}
                    {control comments}
                {/if}
            {/snippet}

        </div>

        {/snippet}
    </div>
{/block}