
{if !empty($post)}
    {block title}{$post->title}{/block}
{/if}


{block og}

{/block}


{block content}


    <div class="content-wrapper">
        {snippet referenceWrapper}

        <div class="content">

            {if !empty($post)}
                <h1 class="post-headline">{$post->title}</h1>

                {if $presenter->getView() == 'admin'}
                    <div class="admin-panel active">
                        {control referencesForm}
                    </div>
                {else}
                    <div class="details">Zdroj: <span><a href="https://www.google.cz/search?q={$post->source|replace:' ','+'}">{$post->source}</a></span>
                    <div class="details">Publikováno <span>{$post->date|date:'j. n. Y'}</span></div></div>

                    <div class="space"></div>

                    {$post->content|noescape}
                {/if}

            {/if}

            {snippet commentsControl}
                {if $presenter->getView() == 'admin'}
                    <p>
                        <a n:href="switchCommentsAllowed!" class="ajax">Chci {$post->comments_allowed ? 'zakázat' : 'povolit'} komentáře u tohoto příspěvku.</a>
                    </p>
                {/if}
                {if $post->comments_allowed}
                    {control comments}
                {/if}
            {/snippet}

        </div>

        {/snippet}
    </div>

{/block}